/****** Script for SelectTopNRows command from SSMS  ******/

drop table if exists #ph1

  select a.[FileRefNumber]
        ,a.MedicalInvoiceID
        ,a.[SKMedicalInvoiceTransactionID]
        ,a.[SKMedicalServiceProviderID]
        ,a.[SKPolicyHolderID]
        ,a.[TotalInvoiceAmountIncludingVAT]
        ,a.ClaimRecievedDate
        ,a.InvoiceDate
        ,e.SKICD10CodeID as ICDS
        ,e.injuryrank
        ,f.[MedicalServiceProviderName]
        ,f.PractitionerTypeGroupDescription
        ,g.ICD10Code
        ,h.[GroupLevelName]
        ,h.[IndustryName]
        ,h.[Province]
        ,row_number () OVER (PARTITION BY a.[SKMedicalServiceProviderID], a.[FileRefNumber] ORDER BY MAX([TotalInvoiceAmountIncludingVAT]) DESC) AS rnk
        ,dense_rank () OVER (PARTITION BY a.[FileRefNumber] ORDER BY MAX(e.[injuryrank]) ASC, MAX(e.SKInjuryTransactionID) desc ) AS ICDCodeRank
        ,dense_rank () OVER (PARTITION BY a.[FileRefNumber] ORDER BY MAX(e.[injuryrank]) desc)  AS ICDCodeRank1
        ,sum([TotalInvoiceAmountIncludingVAT]) over (partition by a.[SKMedicalServiceProviderID], a.[FileRefNumber]) AS TotalMSPpClaim
        ,sum([TotalInvoiceAmountIncludingVAT]) over (partition by a.[FileRefNumber]) TotalClaimCost
    into #ph1
    from [RMADW].[Derived].[FactMedicalInvoiceTransaction] as a (nolock)
         join [RMADW].[Mart].[FactPhysicalDamageTransaction] as b (nolock) on a.[SKPhysicalDamageTransactionID] = b.[SKPhysicalDamageTransactionID] 
         join [RMADW].[Mart].[FactPhysicalDamageTransaction] as c (nolock) on b.[PersonEventID] = c.[PersonEventID]
         join [RMADW].[Mart].[FactInjuryTransaction] as d (nolock) on c.[BK1PhysicalDamageTransactionID] = d.PhysicalDamageID
         join [RMADW].[Mart].[FactInjuryTransaction] as e (nolock) on c.[BK1PhysicalDamageTransactionID] = e.PhysicalDamageID
         join [RMADW].[Mart].[DimMedicalServiceProvider] as f (nolock) on a.[SKMedicalServiceProviderID] = f.[SKMedicalServiceProviderID]
         join [RMADW].[Mart].[DimICD10Code] as g (nolock) on e.SKICD10CodeID = g.SKICD10CodeID
         join [RMADW].[Mart].[DimPolicyHolder] as h (nolock) on a.[SKPolicyHolderID] = h.[SKPolicyHolderID]
   where --c.[BK1PhysicalDamageTransactionID] = 1418514
         a.ClaimRecievedDate between '2017-01-01'and '2018-12-31'and
         e.SKIsActiveID = 2
         --and a.filerefnumber is not null
         --and a.filerefnumber = 'K/1534534/1/056B/18/EMP'
         --and a.SKICD10CodeID = 1777 
group by a.[FileRefNumber]
        ,a.MedicalInvoiceID
        ,a.[SKMedicalInvoiceTransactionID]
        ,a.[SKMedicalServiceProviderID]
        ,a.[SKPolicyHolderID]
        ,a.[TotalInvoiceAmountIncludingVAT]
        ,a.ClaimRecievedDate
        ,a.InvoiceDate
        ,e.SKICD10CodeID 
        ,e.injuryrank
        ,f.[MedicalServiceProviderName]
        ,f.PractitionerTypeGroupDescription
        ,g.ICD10Code
        ,h.[GroupLevelName]
        ,h.[IndustryName]
        ,h.[Province]


--a.[FileRefNumber]
--,a.[SKMedicalInvoiceTransactionID]
--,a.[SKMedicalServiceProviderID]
--,a.[SKPolicyHolderID]
--,a.[TotalInvoiceAmountIncludingVAT]
--,f.[MedicalServiceProviderName]
--,f.PractitionerTypeGroupDescription
--,g.ICD10Code
--,h.[GroupLevelName]
--,h.[IndustryName]
--,h.[Province]
--,sum([TotalInvoiceAmountIncludingVAT]) over (partition by a.[SKMedicalServiceProviderID], a.[FileRefNumber]) AS TotalMSPpClaim
--,sum([TotalInvoiceAmountIncludingVAT]) over (partition by a.[FileRefNumber]) TotalClaimCost

  select *
    from [RMADW].[Derived].[FactMedicalInvoiceTransaction] nolock
   where filerefnumber = 'J/558974/558864/012A/65/WMP'


  select *
        ,avg([TotalMSPpClaim])   over (partition by ICD10Code, PractitionerTypeGroupDescription) AS avgcostperICDperGroup
        ,avg([TotalMSPpClaim])   over (partition by ICD10Code, MedicalServiceProviderName) AS avgcostperICDperMSP
        ,avg([TotalMSPpClaim])   over (partition by ICD10Code, IndustryName) AS avgcostperICDperIndustryName
        ,count([TotalMSPpClaim]) over (partition by ICD10Code, PractitionerTypeGroupDescription) AS countcostperICDperGroup
        ,count([TotalMSPpClaim]) over (partition by ICD10Code, MedicalServiceProviderName) AS countcostperICDperMSP
        ,count([TotalMSPpClaim]) over (partition by ICD10Code, IndustryName) AS countcostperICDperIndustryName
        ,max([TotalMSPpClaim])   over (partition by ICD10Code, PractitionerTypeGroupDescription) AS maxcostperICDperGroup
        ,max([TotalMSPpClaim])   over (partition by ICD10Code, MedicalServiceProviderName) AS maxcostperICDperMSP
        ,max([TotalMSPpClaim])   over (partition by ICD10Code, IndustryName) AS maxcostperICDperIndustryName
    from #ph1
   where ICDCodeRank = 1 
     and rnk = 1
	 and ICDCodeRank1 = 1
	 and FileRefNumber = 'K/754635/764091/043M/98/EMP'



  select FileRefNumber
        ,ClaimRecievedDate
        ,InvoiceDate
        ,[MedicalServiceProviderName]
        ,ICD10Code 
	from #ph1
   where ICDCodeRank = 1
     and rnk = 1 
     and FileRefNumber = 'K/1548974/1/099I/18/EMP'  
order by ClaimRecievedDate 
        ,InvoiceDate


  select top 1000 FileRefNumber
        ,ClaimRecievedDate
        ,InvoiceDate
        ,[MedicalServiceProviderName]
        ,ICD10Code
        ,case when InvoiceDate < ClaimRecievedDate then 0 
		      else DATEDIFF(d, CAST(CONVERT(NVARCHAR(20),max(InvoiceDate),112) AS DATE),CAST(CONVERT(NVARCHAR(20), ClaimRecievedDate, 112) AS DATE)) * -1 end claimLifeDays     
    from #ph1
   where ICDCodeRank = 1 and rnk = 1 --and FileRefNumber = 'K/1548974/1/099I/18/EMP' 
group by FileRefNumber
        ,ClaimRecievedDate
        ,InvoiceDate
        ,[MedicalServiceProviderName]
        ,ICD10Code
order by MedicalServiceProviderName
        ,icd10code 
		,ClaimRecievedDate 
		,InvoiceDate


  select top 1000 ClaimRecievedDate
        ,CAST(CONVERT(NVARCHAR(20),ClaimRecievedDate-365,112) AS DATE) claimLifeDays     
        ,[MedicalServiceProviderName]
        ,ICD10Code 
        ,row_number () OVER (PARTITION BY [MedicalServiceProviderName],ICD10Code  ORDER BY  ClaimRecievedDate ASC) AS rnk
		--,lead (ClaimRecievedDate,1,0)OVER (  ORDER BY  ClaimRecievedDate ASC) AS ld
		--,lag ()OVER (PARTITION BY [MedicalServiceProviderName],ICD10Code  ORDER BY  ClaimRecievedDate ASC) AS lg
    from #ph1
   where ICDCodeRank = 1 and rnk = 1 --and FileRefNumber = 'K/1548974/1/099I/18/EMP' 
     and MedicalServiceProviderName like ' M J Labuschagne Inc'
order by [MedicalServiceProviderName]
        ,ICD10Code
        ,ClaimRecievedDate 