select a.*
      ,b.* 
  from RMABIStaging.dbo.DWMasterTest20191125 a 
       inner join RMABIStaging.dbo.ClaimsMasterTest20191125 b 
    on a.ID = b.ID
 where cast(a.[PersonEventID]  as varchar)					                    != cast(b.[PersonEventID] as varchar)
    or cast(a.[RecordFlag] as varchar)					                        != cast(b.[RecordFlag] as varchar)
    or cast(a.[PEVFileRefNumber] as varchar)				                    != cast(b.[PEVFileRefNumber] as varchar)
    or cast(a.[RmaBranchName] as varchar)				                        != cast(b.[RmaBranchName11] as varchar)
    or cast(a.[IndustryName] as varchar)					                    !=cast(b.[IndustryName] as varchar)
    or cast(a.[MemberNo] as varchar)						                    != cast(b.[MemberNo] as varchar)
    or cast(a.[PolicyHolderName] as varchar)				                    != cast(b.[PolicyHolderName] as varchar)
    or cast(a.[ClaimNumber] as varchar)					                        != cast(b.[ClaimNumber] as varchar)
    or cast(convert(nvarchar,a.[DateOfAccident],112) as varchar)				!= cast(convert(nvarchar,b.[DateOfAccident],112) as varchar)
    or cast(convert(nvarchar,a.[DateSubmitted],112) as varchar)					!= cast(convert(nvarchar,b.[DateSubmitted],112) as varchar)
    or cast(convert(nvarchar,a.[DateReceived],112) as varchar)					!= cast(convert(nvarchar,b.[DateReceived],112) as varchar)
    or cast(convert(nvarchar,a.[DateCaptured],112) as varchar)					!= cast(convert(nvarchar,b.[DateCaptured],112) as varchar)
    or cast(convert(nvarchar,a.[DateCMPCaptured],112) as varchar)				!= cast(convert(nvarchar,b.[DateCMPCaptured],112) as varchar)
    or cast(convert(nvarchar,a.[DateAssurerNotified],112) as varchar)			!= cast(convert(nvarchar,b.[DateAssurerNotified],112) as varchar)
    or cast(convert(nvarchar,a.[DateCMPAdvised],112) as varchar)				!= cast(convert(nvarchar,b.[DateCMPAdvised],112) as varchar)
    or cast(convert(nvarchar,a.[DateCMPSubmit],112) as varchar)					!= cast(convert(nvarchar,b.[DateCMPSubmit],112) as varchar)
    or cast(convert(nvarchar,a.[DateCompleted],112) as varchar)					!= cast(convert(nvarchar,b.[DateCompleted],112) as varchar)
    or cast(a.[CompDivSubmitDT] as varchar)				                        != cast(b.[CompDivSubmitDT] as varchar)
    or cast(a.[icd10code] as varchar)						                    != cast(b.[icd10code] as varchar)
    or cast(a.[ICD10Codedescription] as varchar)			                    != cast(b.[ICD10Codedescription] as varchar)
    or cast(a.[EventDescription] as varchar)				                    != cast(b.[EventDescription] as varchar)
    or cast(a.[MethodClaimCaptured] as varchar)			                        != cast(b.[Method Claim Captured] as varchar)
    or cast(a.[LastChangedBy] as varchar)					                    != cast(b.[LastChangedBy] as varchar)
    or cast(a.[ClaimsAssessor] as varchar)				                        != cast(b.[ClaimsAssessor] as varchar)
    or cast(a.[Product] as varchar)						                        != cast(b.[Product] as varchar)
    or cast(convert(nvarchar,a.[DateOfDeath],112) as varchar)					!= cast(convert(nvarchar,b.[DateOfDeath],112) as varchar)
    or cast(a.[ClaimType] as varchar)					                        != cast(b.[Claim Type] as varchar)
    or cast(a.[ClaimIndicator] as varchar)				                        != cast(b.[ClaimIndicator] as varchar)
    or cast(a.[ClaimStatus] as varchar)					                        != cast(b.[ClaimStatus] as varchar)
    or cast(a.[RMAMMI] as varchar)						                        != cast(b.[RMA MMI] as varchar)
    or cast(convert(nvarchar,a.[DateFirstClosed],112) as varchar)				!= cast(convert(nvarchar,b.[DateFirstClosed],112) as varchar)
    or cast(convert(nvarchar,a.[DateSecondClosed],112) as varchar)				!= cast(convert(nvarchar,b.[DateSecondClosed],112) as varchar)
    or cast(convert(nvarchar,a.[DateThirdClosed],112) as varchar)				!= cast(convert(nvarchar,b.[ThirdClosedDate],112) as varchar)
    or cast(a.[IsPDAward] as varchar)						                    != cast(b.[IsPDAward] as varchar)
    or cast(a.[OutstandingDays] as varchar)				                        != cast(b.[OutstandingDays] as varchar)
    or cast(a.[OutstandingDaysValue] as varchar)			                    != cast(b.[OutstandingDaysValue] as varchar)
    or cast(a.[OutstandingPD] as varchar)					                    != cast(b.[OutstandingPD] as varchar)
    or cast(a.[OutstandingPDValue] as varchar)			                        != cast(b.[OutstandingPDValue] as varchar)
    or cast(a.[OutstandingFatalValue] as varchar)			                    != cast(b.[OutstandingFatalValue] as varchar)
    or cast(a.[OutstandingMedicalValue] as varchar)		                        != cast(b.[OutstandingMedicalValue] as varchar)
    or cast(a.[OutstandingClaimsCost] as varchar)			                    != cast(b.[OutstandingClaimsCost] as varchar)
    or cast(a.[OutstandingRecoveriesValue] as varchar)	                        != cast(b.[OutstandingRecoveriesValue] as varchar)
    or cast(a.[TotalOutstanding] as varchar)				                    != cast(b.[TotalOutstanding] as varchar)
    or cast(a.[PaidDays] as varchar)						                    != cast(b.[PaidDays] as varchar)
    or cast(a.[PaidDaysValue] as varchar)					                    != cast(b.[PaidDaysValue] as varchar)
    or cast(a.[PaidPD] as varchar)						                        != cast(b.[PaidPD] as varchar)
    or cast(a.[PaidPDValue] as varchar)					                        != cast(b.[PaidPDValue] as varchar)
    or cast(a.[PaidFatalValue] as varchar)				                        != cast(b.[PaidFatalValue] as varchar)
    or cast(a.[PaidMedicalValue] as varchar)				                    != cast(b.[PaidMedicalValue] as varchar)
    or cast(a.[PaidClaimsCost] as varchar)				                        != cast(b.[PaidClaimsCost] as varchar)
    or cast(a.[PaidRecoveriesValue] as varchar)			                        != cast(b.[PaidRecoveriesValue] as varchar)
    or cast(a.[TotalPaid] as varchar)						                    != cast(b.[TotalPaid] as varchar)
    or cast(a.[IncurredDays] as varchar)					                    != cast(b.[IncurredDays] as varchar)
    or cast(a.[IncurredDaysValue] as varchar)				                    != cast(b.[IncurredDaysValue] as varchar)
    or cast(a.[IncurredPD] as varchar)					                        != cast(b.[IncurredPD] as varchar)
    or cast(a.[IncurredPDValue] as varchar)				                        != cast(b.[IncurredPDValue] as varchar)
    or cast(a.[IncurredFatalValue] as varchar)			                        != cast(b.[IncurredFatalValue] as varchar)
    or cast(a.[IncurredMedicalValue] as varchar)			                    != cast(b.[IncurredMedicalValue] as varchar)
    or cast(a.[IncurredClaimsCost] as varchar)			                        != cast(b.[IncurredClaimsCost] as varchar)
    or cast(a.[IncurredRecoveriesValue] as varchar)		                        != cast(b.[IncurredRecoveriesValue] as varchar)
    or cast(a.[TotalIncurred] as varchar)					                    != cast(b.[TotalIncurred] as varchar)
    or cast(a.[LiabilityStatus] as varchar)				                        != cast(b.[Liability Status] as varchar)
    or cast(convert(nvarchar,a.[LastChangedDateOfLiability],112) as varchar)	!= cast(convert(nvarchar,b.[LastchangeDate of Liabilty],112) as varchar)
    or cast(a.[EstimatedValue] as varchar)				                        != cast(b.[EstimatedValue] as varchar)
    or cast(a.[AuthorisedValue] as varchar)				                        != cast(b.[AuthorisedValue] as varchar)
    or cast(a.[OutstandingValue] as varchar)				                    != cast(b.[OutstandingValue] as varchar)
    or cast(a.[RunDate] as varchar)						                        != cast(b.[RunDate] as varchar)
    or cast(a.[ExcludeComment] as varchar)				                        != cast(b.[ExcludeComment] as varchar)
    or cast(a.[DRGDescription] as varchar)				                        != cast(b.[DRGDescription] as varchar)
    or cast(a.[ExcludeIndicator] as varchar)				                    != cast(b.[ExcludeIndicator] as varchar)
    or cast(a.[DRGCode] as varchar)						                        != cast(b.[DRGCode] as varchar)
    or cast(a.[SubClass] as varchar)						                    != cast(b.[SubClass] as varchar)
    or cast(a.[GroupLevel] as varchar)					                        != cast(b.[GroupLevel] as varchar)
    or cast(convert(nvarchar,a.[ClaimReceivedDate],112) as varchar)				!= cast(convert(nvarchar,b.[ClaimReceivedDate],112) as varchar)
    or cast(a.[Claimant] as varchar)						                    != cast(b.[Claimant] as varchar)
    or cast(convert(nvarchar,a.[ClaimantDOB],112) as varchar)					!= cast(convert(nvarchar,b.[ClaimantDOB],112) as varchar)
    or cast(a.[ClaimantIDnumber] as varchar)				                    != cast(b.[ClaimantIDnumber] as varchar)
    or cast(a.[ClaimantPassportNumber] as varchar)		                        != cast(b.[ClaimantPassportNumber] as varchar)
    or cast(a.[STPIndicator] as varchar)             	                        != cast(b.[STP Indicator] as varchar)
  



  select a.* from RMABIStaging.dbo.DWMasterTest20191125 a 
  select b.* from RMABIStaging.dbo.ClaimsMasterTest20191125 b 