USE [RMADW]
GO
/****** Object:  StoredProcedure [Report].[prcDatasetCLAR024P01C01]    Script Date: 11/27/2019 8:07:12 AM ******/
--SET ANSI_NULLS ON
--GO
--SET QUOTED_IDENTIFIER ON
--GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- EXEC [Report].[prcDatasetCLAR024P01C01] '2019-11-27 08:10:45.430','2019-11-27 08:10:45.430'
-- =============================================
--ALTER PROCEDURE [Report].[prcDatasetCLAR024P01C01]
	-- Add the parameters for the stored procedure here
	--@FromDate DATETIME,
	--@ToDate DATETIME
--AS
--BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	--SET NOCOUNT ON;

	DECLARE @FromDate Datetime = '2010-01-01 00:00:01.430';
    DECLARE @ToDate datetime = '2019-11-27 08:10:45.430';

	DECLARE @Step DATETIME
	    SET @Step = GETDATE()

	DECLARE @FromDateID INT
	DECLARE @ToDateID INT

	SET @FromDateID = (YEAR(@FromDate) * 10000) + (MONTH(@FromDate) * 100) + (DAY(@FromDate) * 1)
	SET @ToDateID = (YEAR(@ToDate) * 10000) + (MONTH(@ToDate) * 100) + (DAY(@ToDate) * 1)

	--1.1 FactPersonEventTransaction
	
	--TRUNCATE TABLE RMABIStaging.dbo.DWMasterTest20191125

		IF OBJECT_ID(N'tempdb..#TempFactPersonEventTransaction', N'U') IS NOT NULL
			DROP TABLE #TempFactPersonEventTransaction;

		SELECT 
			 Mfpet.[BK1PersonEventTransactionID] AS [PersonEventID],
			 Mfpet.[EventID],
			 Mfpet.[PEVFileRefNumber],
			 Mfpet.[SubmittedDate],
			 Mfpet.[ReceivedDate],
			 Mfpet.[CapturedDate],
			 Mfpet.[CMPCapturedDate],
			 Mfpet.[AssurerNotifiedDate],
			 Mfpet.[CMPAdvisedDate],
			 Mfpet.[CMPSubmitDate] AS [CMPSubmittedDate],
			 Mfpet.[CompletedDate],
			 Mfpet.[CompDivSubmitDate],
			 Mfpet.[SKAdviseMethodID],
			 '' AS [LastChangedBy], 
			 Mfpet.[SKClaimantID],
			 '' AS [ClaimIndicator],
			 Mfpet.[SKPersonEventStatusID],
			 Mfpet.[SKIsStraightThroughProcessID]
		INTO #TempFactPersonEventTransaction
		FROM [Mart].[FactPersonEventTransaction] Mfpet (NOLOCK)
		INNER JOIN [Mart].[DimPersonEventProfile] Mdpep ON Mfpet.[SKPersonEventProfileID] = Mdpep.[SKPersonEventProfileID]
		WHERE 
			(Mfpet.[SKIsAuditID] = 1) AND 
			--(Mfpet.[BK1PersonEventTransactionID] = 87892)
			(
				(COALESCE(Mfpet.[AssurerNotifiedDateID], Mfpet.[CMPCapturedDateID], Mfpet.[ReceivedDateID]) >= @FromDateID) AND
				(COALESCE(Mfpet.[AssurerNotifiedDateID], Mfpet.[CMPCapturedDateID], Mfpet.[ReceivedDateID]) <= @ToDateID)
			) AND
			(Mdpep.[IsActiveID] = 1)
	
	PRINT '1.1'  + ' : ' + CAST(DATEDIFF(SECOND,@Step,GETDATE()) AS VARCHAR(50)) + ' seconds. [Mart].[FactPersonEventTransaction]'

	--1.2 FactClaimTransaction
		
		IF OBJECT_ID(N'tempdb..#TempFactClaimTransaction', N'U') IS NOT NULL
			DROP TABLE #TempFactClaimTransaction;

		SELECT
			  dfct.[BK1ClaimTransactionID] AS [ClaimID],
			  dfct.[PersonEventID],
			  dfct.[SKPolicyHolderID],
			  dfct.[FileRefNumber],
			  dfct.[SKUserID],
			  dfct.[SKProductID],
			  dfct.[SKClaimMacroStatusID],
			  dfct.[SKClaimStatusID],
			  dfct.[SKLiabilityDecisionTypeID],
			  dfct.[LastChangedDate],
			  mdcp.[IsActiveID]						----Added 2019/11/25
		INTO #TempFactClaimTransaction
		FROM [Mart].[FactClaimTransaction] dfct (NOLOCK)
		INNER JOIN [Mart].[DimClaimProfile] mdcp ON (dfct.[SKClaimProfileID] = mdcp.[SKClaimProfileID]) 
		
		WHERE 
			---(mdcp.[IsActiveID] = 1) AND				----Removed 2019/11/25
			(dfct.[SKIsAuditID] = 1) AND 
			(dfct.[SKIsDeletedID] <> 2) AND
			--(dfct.[BK1ClaimTransactionID] = 87876)
			(dfct.[PersonEventID] IN (SELECT DISTINCT [PersonEventID] FROM #TempFactPersonEventTransaction))

		PRINT '1.2'  + ' : ' + CAST(DATEDIFF(SECOND,@Step,GETDATE()) AS VARCHAR(50)) + ' seconds. [Mart].[FactClaimTransaction]'

		--1.3 FactEventTransaction

		IF OBJECT_ID(N'tempdb..#TempFactEventTransaction', N'U') IS NOT NULL
			DROP TABLE #TempFactEventTransaction;

		SELECT
			mfet.[BK1EventTransactionID] AS [EventID],
			mfet.[EventCreateDate],
			mfet.[SKEventCategoryID],
			mfet.[SKPolicyHolderID]
		INTO #TempFactEventTransaction
		FROM [Mart].[FactEventTransaction] mfet (NOLOCK)
		WHERE 
			(mfet.[SKIsAuditID] = 1) AND 
			--(mfet.[BK1EventTransactionID] = 87877)
			(mfet.[BK1EventTransactionID] IN (SELECT DISTINCT [EventID] FROM #TempFactPersonEventTransaction))

		PRINT '1.3'  + ' : ' + CAST(DATEDIFF(SECOND,@Step,GETDATE()) AS VARCHAR(50)) + ' seconds. [Mart].[FactEventTransaction]'

		--1.4 FactPhysicalDamageTransaction

		IF OBJECT_ID(N'tempdb..#TempFactPhysicalDamageTransaction', N'U') IS NOT NULL
        DROP TABLE #TempFactPhysicalDamageTransaction;

        SELECT DISTINCT
                [SKPhysicalDamageTransactionID],
                [BK1PhysicalDamageTransactionID] AS [PhysicalDamageID],
                [PersonEventID],
                [SKICD10DiagnosticGroupID],
                [DeathDate],
                [DeathDateID]
        INTO #TempFactPhysicalDamageTransaction 
        FROM [Mart].[FactPhysicalDamageTransaction] mfpdt (NOLOCK)
        WHERE 
			(SKIsActiveID = 2) AND
			--(mfpdt.[PersonEventID] = 87892)
			(mfpdt.[PersonEventID] IN (SELECT DISTINCT [PersonEventID] FROM #TempFactPersonEventTransaction))
		
		PRINT '1.4'  + ' : ' + CAST(DATEDIFF(SECOND,@Step,GETDATE()) AS VARCHAR(50)) + ' seconds. [Mart].[FactPhysicalDamageTransaction]'

		--1.5 FactInjuryTransaction
		IF OBJECT_ID(N'tempdb..#TempFactInjuryTransaction1', N'U') IS NOT NULL
			DROP TABLE #TempFactInjuryTransaction1;
		
		SELECT 
				mfit.[SKInjuryTransactionID],
				mfit.[BK1InjuryTransactionID],
				mfit.[PhysicalDamageID],
				mfit.[SKICD10CodeID],
				mfit.[Description]
		INTO #TempFactInjuryTransaction1
		FROM [Mart].[FactInjuryTransaction] mfit  (NOLOCK) 
		WHERE 
			(mfit.SKIsActiveID = 2) AND 
			(mfit.InjuryRank = 1) AND
			--(mfit.PhysicalDamageID = 87892)
			(mfit.[PhysicalDamageID] IN (SELECT DISTINCT [PhysicalDamageID] FROM #TempFactPhysicalDamageTransaction))

		IF OBJECT_ID(N'tempdb..#TempFactInjuryTransaction', N'U') IS NOT NULL
			DROP TABLE #TempFactInjuryTransaction;
              
        SELECT DISTINCT
                FIRST_VALUE(mfit.[SKInjuryTransactionID]) OVER (PARTITION BY mfit.[PhysicalDamageID] ORDER BY mfit.[BK1InjuryTransactionID] DESC) AS [SKInjuryTransactionID],
                FIRST_VALUE(mfit.[BK1InjuryTransactionID]) OVER (PARTITION BY mfit.[PhysicalDamageID] ORDER BY mfit.[BK1InjuryTransactionID] DESC) AS [InjuryID],
                FIRST_VALUE(mfit.[PhysicalDamageID]) OVER (PARTITION BY mfit.[PhysicalDamageID] ORDER BY mfit.[BK1InjuryTransactionID] DESC) AS [PhysicalDamageID],
                FIRST_VALUE(mfit.[SKICD10CodeID]) OVER (PARTITION BY mfit.[PhysicalDamageID] ORDER BY mfit.[BK1InjuryTransactionID] DESC) AS [SKICD10CodeID],
                FIRST_VALUE(mdicdn10c.[DaysLookupMaximum]) OVER (PARTITION BY mfit.[PhysicalDamageID] ORDER BY mfit.[BK1InjuryTransactionID] DESC) AS [DaysLookupMaximum],
				FIRST_VALUE(mfit.[Description]) OVER (PARTITION BY mfit.[PhysicalDamageID] ORDER BY mfit.[BK1InjuryTransactionID] DESC) AS [InjuryDescription]
        INTO #TempFactInjuryTransaction			
        FROM #TempFactInjuryTransaction1 mfit  (NOLOCK)
        LEFT JOIN Mart.DimICD10Code mdicdn10c ON (mfit.[SKICD10CodeID] = mdicdn10c.[SKICD10CodeID])

      
			--1.5.1 Injury & Physical Damage Final

				IF OBJECT_ID(N'tempdb..#TempFactPhysicalDamageTransactionFinal', N'U') IS NOT NULL
								DROP TABLE #TempFactPhysicalDamageTransactionFinal;

				SELECT	DISTINCT
					 FIRST_VALUE(tfpdt.[SKPhysicalDamageTransactionID]) OVER (PARTITION BY tfpdt.[PersonEventID] ORDER BY tfpdt.[PhysicalDamageID] DESC) AS [SKPhysicalDamageTransactionID]
					,FIRST_VALUE(tfpdt.[PhysicalDamageID]) OVER (PARTITION BY tfpdt.[PersonEventID] ORDER BY tfpdt.[PhysicalDamageID] DESC) AS [PhysicalDamageID]
					,FIRST_VALUE(tfpdt.[PersonEventID]) OVER (PARTITION BY tfpdt.[PersonEventID] ORDER BY tfpdt.[PhysicalDamageID] DESC) AS [PersonEventID]
					,FIRST_VALUE(tfit.[SKICD10CodeID]) OVER (PARTITION BY tfpdt.[PersonEventID] ORDER BY tfpdt.[PhysicalDamageID] DESC) AS [SKICD10CodeID]
	   
				INTO #TempFactPhysicalDamageTransactionFinal	
				FROM #TempFactPhysicalDamageTransaction tfpdt (NOLOCK)
				INNER JOIN #TempFactInjuryTransaction tfit ON tfpdt.[PhysicalDamageID] = tfit.[PhysicalDamageID]

				UNION

				SELECT DISTINCT
					 FIRST_VALUE(tfpdt.[SKPhysicalDamageTransactionID]) OVER (PARTITION BY tfpdt.[PersonEventID] ORDER BY tfpdt.[PhysicalDamageID] DESC) AS [SKPhysicalDamageTransactionID]
					,FIRST_VALUE(tfpdt.[PhysicalDamageID]) OVER (PARTITION BY tfpdt.[PersonEventID] ORDER BY tfpdt.[PhysicalDamageID] DESC) AS [PhysicalDamageID]
					,FIRST_VALUE(tfpdt.[PersonEventID]) OVER (PARTITION BY tfpdt.[PersonEventID] ORDER BY tfpdt.[PhysicalDamageID] DESC) AS [PersonEventID]
					,FIRST_VALUE(tfit.[SKICD10CodeID]) OVER (PARTITION BY tfpdt.[PersonEventID] ORDER BY tfpdt.[PhysicalDamageID] DESC) AS [SKICD10CodeID]

				FROM #TempFactPhysicalDamageTransaction tfpdt (NOLOCK)
				LEFT JOIN #TempFactInjuryTransaction tfit ON tfpdt.[PhysicalDamageID] = tfit.[PhysicalDamageID]

				WHERE tfit.[PhysicalDamageID] IS NULL
				AND tfpdt.PersonEventID NOT IN (SELECT tfpdt.[PersonEventID]
												FROM #TempFactPhysicalDamageTransaction tfpdt
												INNER JOIN #TempFactInjuryTransaction tfit ON tfpdt.PhysicalDamageID = tfit.[PhysicalDamageID])

		PRINT '1.5'  + ' : ' + CAST(DATEDIFF(SECOND,@Step,GETDATE()) AS VARCHAR(50)) + ' seconds. [Mart].[FactInjuryTransaction]'


		--1.6 Claim Estimate
		IF OBJECT_ID(N'tempdb..#TempFactClaimEstimateTransaction2', N'U') IS NOT NULL
			DROP TABLE #TempFactClaimEstimateTransaction2;
		
		SELECT 		
			mfcet.[ClaimID] AS [ClaimID],
			mfcet.[SKEstimateTypeID],
			mfcet.[EstimatedDaysOff],
			mfcet.[AuthorisedDaysOff],
			mfcet.[EstimatedValue],
			mfcet.[AuthorisedValue],
			mfcet.[EstimatedExtent],
			mfcet.[AuthorisedExtent],
			mfcet.[OutstandingValue]

		INTO #TempFactClaimEstimateTransaction2	
		FROM [Mart].[FactClaimEstimateTransaction] mfcet (NOLOCK)
		WHERE 
			(mfcet.[SKIsAuditID] = 1) AND 
			(mfcet.[ClaimID] IN (SELECT DISTINCT [ClaimID] FROM #TempFactClaimTransaction))
		
		IF OBJECT_ID(N'tempdb..#TempFactClaimEstimateTransaction1', N'U') IS NOT NULL
			DROP TABLE #TempFactClaimEstimateTransaction1;
		
		SELECT 		
			mfcet.[ClaimID] AS [ClaimID],
			mfcet.[SKEstimateTypeID],
			mfcet.[EstimatedDaysOff],
			mfcet.[AuthorisedDaysOff],
			mfcet.[EstimatedValue],
			mfcet.[AuthorisedValue],
			mfcet.[EstimatedExtent],
			mfcet.[AuthorisedExtent],
			mfcet.[OutstandingValue],
			mdet.[ClaimEstimateGroupID]
		INTO #TempFactClaimEstimateTransaction1	
		FROM #TempFactClaimEstimateTransaction2	 mfcet (NOLOCK)
		LEFT JOIN [Mart].[DimEstimateType] mdet ON (mfcet.[SKEstimateTypeID] = mdet.[SKEstimateTypeID])

		IF OBJECT_ID(N'tempdb..#TempFactClaimEstimateTransaction', N'U') IS NOT NULL
			DROP TABLE #TempFactClaimEstimateTransaction;

		SELECT 		
			mfcet.[ClaimID] AS [ClaimID],
			SUM(DISTINCT CASE WHEN (mfcet.[ClaimEstimateGroupID] = 1) THEN mfcet.[EstimatedDaysOff] - mfcet.[AuthorisedDaysOff] END) AS [OutstandingDays], 
			SUM(DISTINCT CASE WHEN (mfcet.[ClaimEstimateGroupID] = 1) THEN ISNULL(mfcet.[EstimatedValue],0) - ISNULL(mfcet.[AuthorisedValue],0) END) AS [OutstandingDaysValue], 
			
			MAX(DISTINCT CASE WHEN (mfcet.[ClaimEstimateGroupID] IN (3,4)) THEN mfcet.[EstimatedExtent] - mfcet.[AuthorisedExtent] END) AS [OutstandingPD], 
			SUM(DISTINCT CASE WHEN (mfcet.[ClaimEstimateGroupID] IN (3,4)) THEN ISNULL(mfcet.[EstimatedValue],0) - ISNULL(mfcet.[AuthorisedValue],0) END) AS [OutstandingPDValue], 

			SUM(DISTINCT CASE WHEN (mfcet.[ClaimEstimateGroupID] = 5) THEN ISNULL(mfcet.[EstimatedValue],0) - ISNULL(mfcet.[AuthorisedValue],0) END) AS [OutstandingFatalValue], 
			SUM(DISTINCT CASE WHEN (mfcet.[ClaimEstimateGroupID] = 2) THEN ISNULL(mfcet.[EstimatedValue],0) - ISNULL(mfcet.[AuthorisedValue],0) END) AS [OutstandingMedicalValue], 
			
			SUM(DISTINCT CASE WHEN (mfcet.[ClaimEstimateGroupID] IN (6,8,9)) THEN ISNULL(mfcet.[EstimatedValue],0) - ISNULL(mfcet.[AuthorisedValue],0) END) AS [OutstandingClaimsCost], 
			SUM(DISTINCT CASE WHEN (mfcet.[ClaimEstimateGroupID] = 7) THEN ISNULL(mfcet.[EstimatedValue],0) - ISNULL(mfcet.[AuthorisedValue],0) END) AS [OutstandingRecoveriesValue], 
			SUM(DISTINCT  ISNULL(mfcet.[EstimatedValue],0) - ISNULL(mfcet.[AuthorisedValue],0) ) AS [TotalOutstanding],

			SUM(DISTINCT CASE WHEN (mfcet.[ClaimEstimateGroupID] = 1) THEN mfcet.[AuthorisedDaysOff] END) AS [PaidDays],
			SUM(DISTINCT CASE WHEN (mfcet.[ClaimEstimateGroupID] = 1) THEN mfcet.[AuthorisedValue] END) AS [PaidDaysValue],

			SUM(DISTINCT CASE WHEN (mfcet.[ClaimEstimateGroupID] IN (3,4)) THEN mfcet.[AuthorisedExtent] END) AS [PaidPD],
			SUM(DISTINCT CASE WHEN (mfcet.[ClaimEstimateGroupID] IN (3,4)) THEN mfcet.[AuthorisedValue] END) AS [PaidPDValue],

			SUM(DISTINCT CASE WHEN (mfcet.[ClaimEstimateGroupID] = 5) THEN mfcet.[AuthorisedValue] END) AS [PaidFatalValue],
			SUM(DISTINCT CASE WHEN (mfcet.[ClaimEstimateGroupID] = 2) THEN mfcet.[AuthorisedValue] END) AS [PaidMedicalValue],
			SUM(DISTINCT CASE WHEN (mfcet.[ClaimEstimateGroupID] IN (6,8,9)) THEN mfcet.[AuthorisedValue] END) AS [PaidClaimsCost],
			SUM(DISTINCT CASE WHEN (mfcet.[ClaimEstimateGroupID] = 7) THEN mfcet.[AuthorisedValue] END) AS [PaidRecoveriesValue],
			SUM(DISTINCT mfcet.[AuthorisedValue]) AS [TotalPaid],
			SUM(DISTINCT CASE WHEN (mfcet.[ClaimEstimateGroupID] = 1) THEN mfcet.[EstimatedDaysOff] END) AS [IncurredDays],
			SUM(DISTINCT CASE WHEN (mfcet.[ClaimEstimateGroupID] = 1) THEN mfcet.[EstimatedValue] END) AS [IncurredDaysValue],
			
			MAX(DISTINCT CASE WHEN (mfcet.[ClaimEstimateGroupID] IN (3,4)) THEN mfcet.[EstimatedExtent] END) AS [IncurredPD],
			SUM(DISTINCT CASE WHEN (mfcet.[ClaimEstimateGroupID] IN (3,4)) THEN mfcet.[EstimatedValue] END) AS [IncurredPDValue],

			SUM(DISTINCT CASE WHEN (mfcet.[ClaimEstimateGroupID] = 5) THEN mfcet.[EstimatedValue] END) AS [IncurredFatalValue],
			SUM(DISTINCT CASE WHEN (mfcet.[ClaimEstimateGroupID] = 2) THEN mfcet.[EstimatedValue] END) AS [IncurredMedicalValue],
			SUM(DISTINCT CASE WHEN (mfcet.[ClaimEstimateGroupID] IN (6,8,9)) THEN mfcet.[EstimatedValue] END) AS [IncurredClaimsCost],
			SUM(DISTINCT CASE WHEN (mfcet.[ClaimEstimateGroupID] = 7) THEN mfcet.[EstimatedValue] END) AS [IncurredRecoveriesValue],
			SUM(DISTINCT mfcet.[EstimatedValue]) AS [TotalIncurred],

			SUM(DISTINCT mfcet.[EstimatedValue]) AS [EstimatedValue],
			SUM(DISTINCT mfcet.[AuthorisedValue]) AS [AuthorisedValue],
			SUM(DISTINCT mfcet.[OutstandingValue]) AS [OutstandingValue]

		INTO #TempFactClaimEstimateTransaction	
		FROM #TempFactClaimEstimateTransaction1 mfcet (NOLOCK)
		--LEFT JOIN [Mart].[DimEstimateType] mdet ON (mfcet.[SKEstimateTypeID] = mdet.[SKEstimateTypeID])
		--WHERE 
		--	(mfcet.[SKIsAuditID] = 1) AND 
		--	(mfcet.[ClaimID] IN (SELECT DISTINCT [ClaimID] FROM #TempFactClaimTransaction))
		GROUP BY
			mfcet.[ClaimID]

		PRINT '1.6'  + ' : ' + CAST(DATEDIFF(SECOND,@Step,GETDATE()) AS VARCHAR(50)) + ' seconds. [Mart].[FactClaimEstimateTransaction]'

		--1.7 PD Award

		IF OBJECT_ID(N'tempdb..#TempFactPDAwardTransaction', N'U') IS NOT NULL
			DROP TABLE #TempFactPDAwardTransaction;

		SELECT DISTINCT
			FIRST_VALUE(mfpdat.[ClaimID]) OVER (PARTITION BY mfpdat.[ClaimID] ORDER BY mfpdat.[LastChangedDate] DESC) AS [ClaimID],
			FIRST_VALUE(mfpdat.[AwardPercentage]) OVER (PARTITION BY mfpdat.[ClaimID] ORDER BY mfpdat.[LastChangedDate] DESC) AS [AwardPercentage]
		INTO #TempFactPDAwardTransaction
		FROM [Mart].[FactPDAwardTransaction] mfpdat (NOLOCK)
		WHERE 
			(mfpdat.[SKIsAuditID] = 1) AND
			--(mfpdat.[ClaimID] = 87876)
			(mfpdat.[ClaimID] IN (SELECT DISTINCT [ClaimID] FROM #TempFactClaimTransaction))
		
		PRINT '1.7'  + ' : ' + CAST(DATEDIFF(SECOND,@Step,GETDATE()) AS VARCHAR(50)) + ' seconds. [Mart].[FactPDAwardTransaction]'

		--1.8 FactClaimTransaction (DateFirstClosed)
		
		IF OBJECT_ID(N'tempdb..#TempFactClaimTransactionRank1', N'U') IS NOT NULL
			DROP TABLE #TempFactClaimTransactionRank1;

		SELECT 
			  RANK() OVER (PARTITION BY dfct.[BK1ClaimTransactionID] ORDER BY dfct.[LastChangedDateID] DESC, dfct.[SKClaimTransactionID] DESC) AS [Rank],
			  dfct.[BK1ClaimTransactionID] AS [ClaimID],
			  dfct.[LastChangedDate]
		INTO #TempFactClaimTransactionRank1
		FROM [Mart].[FactClaimTransaction] dfct (NOLOCK) 
		INNER JOIN [Mart].[DimClaimProfile] mdcp ON (dfct.[SKClaimProfileID] = mdcp.[SKClaimProfileID]) 
		WHERE 
			(mdcp.[IsActiveID] = 1) AND 
			(dfct.[SKIsAuditID] = 2) AND 
			(dfct.[SKClaimMacroStatusID] = 4) AND -- (Closed / Completed)
			(dfct.[SKClaimStatusID] IN (3,4)) AND -- (All Payments Have Been Made Or No Payments Expected)
			--(dfct.[BK1ClaimTransactionID] = 87876) 
			(dfct.[BK1ClaimTransactionID] IN (SELECT DISTINCT [ClaimID] FROM #TempFactClaimTransaction))
		

		IF OBJECT_ID(N'tempdb..#TempFactClaimTransactionRank', N'U') IS NOT NULL
			DROP TABLE #TempFactClaimTransactionRank;

		SELECT 
			x.[ClaimID],
			MAX(CASE WHEN (x.[Rank] = 1) THEN x.[LastChangedDate] ELSE NULL	END) AS [DateFirstClosed],
			MAX(CASE WHEN (x.[Rank] = 2) THEN x.[LastChangedDate] ELSE NULL	END) AS [DateSecondClosed],
			MAX(CASE WHEN (x.[Rank] = 3) THEN x.[LastChangedDate] ELSE NULL	END) AS [DateThirdClosed]	
		INTO #TempFactClaimTransactionRank
		FROM #TempFactClaimTransactionRank1 x
		WHERE (x.[Rank] <= 3)
		GROUP BY 
				x.[ClaimID]
		

		PRINT '1.8'  + ' : ' + CAST(DATEDIFF(SECOND,@Step,GETDATE()) AS VARCHAR(50)) + ' seconds. [Mart].[FactClaimTransaction]'

		--1.9 FactPersonEventTransaction (Audit)
		
		IF OBJECT_ID(N'tempdb..#TempFactPersonEventTransactionAudit', N'U') IS NOT NULL
			DROP TABLE #TempFactPersonEventTransactionAudit;

		SELECT DISTINCT
			 FIRST_VALUE(Mfpet.[BK1PersonEventTransactionID]) OVER (PARTITION BY Mfpet.[BK1PersonEventTransactionID] ORDER BY Mfpet.[LastChangedDate] ASC) AS [PersonEventID],
			 FIRST_VALUE(Mfpet.[SKUserID]) OVER (PARTITION BY Mfpet.[BK1PersonEventTransactionID] ORDER BY Mfpet.[LastChangedDate] ASC) AS [SKUserID]
		INTO #TempFactPersonEventTransactionAudit
		FROM [Mart].[FactPersonEventTransaction] Mfpet (NOLOCK)
		WHERE 
			(Mfpet.[SKIsAuditID] = 2) AND 
			--(Mfpet.[BK1PersonEventTransactionID] = 87892)
			(Mfpet.[BK1PersonEventTransactionID] IN (SELECT DISTINCT [PersonEventID] FROM #TempFactPersonEventTransaction))

		PRINT '1.9'  + ' : ' + CAST(DATEDIFF(SECOND,@Step,GETDATE()) AS VARCHAR(50)) + ' seconds. [Mart].[FactPersonEventTransaction] '


		--2. Build Final Table

		INSERT INTO RMABIStaging.dbo.DWMasterTest20191125
		SELECT 
			tfpet.[PersonEventID],
			CASE 
				WHEN (tfpet.[PersonEventID] IS NOT NULL) AND (tfct.[ClaimID] IS NULL) THEN
					'PEV'
				ELSE
					'Claims'
			END AS [RecordFlag],
			tfpet.[PEVFileRefNumber],
			ISNULL(mdph.[RMABranchName],mdphtfet.[RMABranchName]) AS [RMABranchName],
			ISNULL(mdph.[IndustryClassName],mdphtfet.[IndustryClassName]) AS [IndustryName],
			ISNULL(mdph.[ReferenceNo],mdphtfet.[ReferenceNo]) AS [MemberNo],
			ISNULL(mdph.[PolicyHolderName],mdphtfet.[PolicyHolderName]) AS [PolicyHolderName],
			
			tfct.[FileRefNumber] AS [ClaimNumber],
			tfet.[EventCreateDate] AS [DateOfAccident],
			tfpet.[SubmittedDate] AS [DateSubmitted],
			tfpet.[ReceivedDate] AS [DateReceived],
			tfpet.[CapturedDate] AS [DateCaptured],
			tfpet.[CMPCapturedDate] AS [DateCMPCaptured],
			tfpet.[AssurerNotifiedDate] AS [DateAssurerNotified],
			tfpet.[CMPAdvisedDate] AS [DateCMPAdvised],
			tfpet.[CMPSubmittedDate] AS [DateCMPSubmit],
			tfpet.[CompletedDate] AS [DateCompleted],
			tfpet.[CompDivSubmitDate] AS [CompDivSubmitDT], 
			mdicd10c.[ICD10Code],
			LTRIM(RIGHT(mdicd10c.[Description],CHARINDEX('-',REVERSE(mdicd10c.[Description]))-1)) AS [ICD10CodeDescription],
			mdec.[Description] AS [EventDescription], 
			mdam.[Name] AS [MethodClaimCaptured],

			mdupea.[UserName] AS [LastChangedBy], 
			
			ISNULL(mdph.[ClaimAssessor],mdphtfet.[ClaimAssessor]) AS [ClaimsAssessor], 
			mdp.[ProductDescription] AS [Product],
			mdc.[DateOfDeath] AS [DateOfDeath],
			CASE 
				WHEN (mdc.[DateOfDeath] IS NOT NULL) OR (mdc.[DateOfDeath] <> '') THEN
					'Fatal'
				ELSE	
					'Non Fatal'
			END AS [ClaimType],

			COALESCE(mdcms.[Description],mdpes.[Name]) AS [ClaimIndicator], 
			mdcs.[Description] AS [ClaimStatus],
			tfit.[DaysLookupMaximum] AS [RMAMMI],
			
			tfctr.[DateFirstClosed] AS [DateFirstClosed],  
			tfctr.[DateSecondClosed] AS [DateSecondClosed],  
			tfctr.[DateThirdClosed] AS [DateThirdClosed],  
			CASE
				WHEN tfpdat.[AwardPercentage] > 30.00 THEN
					'PD' 
				WHEN tfpdat.[AwardPercentage] <= 30.00 THEN 
					'PDLS'
				ELSE 
					'0'
			END AS [IsPDAward],
			ISNULL(tfcet.[OutstandingDays],0) AS [OutstandingDays],	
			ISNULL(tfcet.[OutstandingDaysValue],0) AS [OutstandingDaysValue],	
			ISNULL(tfcet.[OutstandingPD],0) AS [OutstandingPD],		
			ISNULL(tfcet.[OutstandingPDValue],0) AS [OutstandingPDValue],		
			ISNULL(tfcet.[OutstandingFatalValue],0) AS [OutstandingFatalValue],		
			ISNULL(tfcet.[OutstandingMedicalValue],0) AS [OutstandingMedicalValue],		
			ISNULL(tfcet.[OutstandingClaimsCost],0) AS [OutstandingClaimsCost],		
			ISNULL(tfcet.[OutstandingRecoveriesValue],0) AS [OutstandingRecoveriesValue],		
			ISNULL(tfcet.[TotalOutstanding],0) AS [TotalOutstanding],		
			ISNULL(tfcet.[PaidDays],0) AS [PaidDays],		
			ISNULL(tfcet.[PaidDaysValue],0) AS [PaidDaysValue],		
			ISNULL(tfcet.[PaidPD],0) AS [PaidPD],		
			ISNULL(tfcet.[PaidPDValue],0) AS [PaidPDValue],		
			ISNULL(tfcet.[PaidFatalValue],0) AS [PaidFatalValue],		
			ISNULL(tfcet.[PaidMedicalValue],0) AS [PaidMedicalValue],		
			ISNULL(tfcet.[PaidClaimsCost],0) AS [PaidClaimsCost],		
			ISNULL(tfcet.[PaidRecoveriesValue],0) AS [PaidRecoveriesValue],		
			ISNULL(tfcet.[TotalPaid],0) AS [TotalPaid],		
			ISNULL(tfcet.[IncurredDays],0) AS [IncurredDays],		
			ISNULL(tfcet.[IncurredDaysValue],0) AS [IncurredDaysValue],		
			ISNULL(tfcet.[IncurredPD],0) AS [IncurredPD],		
			ISNULL(tfcet.[IncurredPDValue],0) AS [IncurredPDValue],		
			ISNULL(tfcet.[IncurredFatalValue],0) AS [IncurredFatalValue],		
			ISNULL(tfcet.[IncurredMedicalValue],0) AS [IncurredMedicalValue],		
			ISNULL(tfcet.[IncurredClaimsCost],0) AS [IncurredClaimsCost],		
			ISNULL(tfcet.[IncurredRecoveriesValue],0) AS [IncurredRecoveriesValue],		
			ISNULL(tfcet.[TotalIncurred],0) AS [TotalIncurred],		
			mdldt.[Name] AS [LiabilityStatus],
			tfct.[LastChangedDate] AS [LastChangedDateOfLiability],		-- Problem	 
			tfcet.[EstimatedValue],
			tfcet.[AuthorisedValue],
			tfcet.[OutstandingValue],
			GETDATE() AS [RunDate],
			CASE 
				WHEN (tfpet.[PersonEventID] IS NOT NULL) AND (tfct.[ClaimID] IS NULL) AND (tfpet.[PEVFileRefNumber] IS NULL) THEN
					'Excluded - No PEV in the system'
				ELSE
					NULL
			END AS [ExcludeComment],
			mdicd10c.[ICD10DiagnosticGroupDescription] AS [DRGDescription],
			CASE 
				WHEN (tfpet.[PersonEventID] IS NOT NULL) AND (tfct.[ClaimID] IS NULL) AND (tfpet.[PEVFileRefNumber] IS NULL) THEN
					1
				ELSE
					NULL
			END AS [ExcludeIndicator],
			mdicd10c.[ICD10DiagnosticGroupCode] AS [DRGCode],
			ISNULL(mdph.[IndustryName],mdphtfet.[IndustryName]) AS [SubClass],
			--ISNULL(mdph.[GroupLevel1],mdphtfet.[GroupLevel1]) AS [GroupLevel],
			ISNULL(mdph.[GroupLevelName],mdphtfet.[GroupLevelName]) AS [GroupLevel],
		    COALESCE(tfpet.[AssurerNotifiedDate], tfpet.[CMPCapturedDate], tfpet.[ReceivedDate]) AS [ClaimReceivedDate],
		    mdc.[FullName] AS [Claimant],
		    mdc.[DateOfBirth] AS [ClaimantDOB],
		    mdc.[IDNumber] AS [ClaimantIDNumber],
		    NULL AS [ClaimantPassportNumber],  -- New Development
		    CASE WHEN msistp.[IsStraightThroughProcess]  = 'Unknown' THEN 'Potential'
			ELSE msistp.[IsStraightThroughProcess]			
			END AS [STPIndicator]   

        --INTO RMABIStaging.dbo.DWMasterTest20191125
		FROM #TempFactPersonEventTransaction tfpet 
		
		--Facts
		LEFT JOIN #TempFactClaimTransaction tfct ON (tfpet.[PersonEventID] = tfct.[PersonEventID])
		LEFT JOIN #TempFactEventTransaction tfet ON (tfpet.[EventID] = tfet.[EventID])		
		LEFT JOIN #TempFactPhysicalDamageTransactionFinal tfpdtf ON (tfpet.[PersonEventID] = tfpdtf.[PersonEventID])
		LEFT JOIN #TempFactInjuryTransaction tfit ON (tfpdtf.[PhysicalDamageID] = tfit.[PhysicalDamageID])
		LEFT JOIN #TempFactPDAwardTransaction tfpdat ON (tfct.[ClaimID] = tfpdat.[ClaimID])

		LEFT JOIN #TempFactClaimTransactionRank tfctr ON (tfct.[ClaimID] = tfctr.[ClaimID])
		LEFT JOIN #TempFactClaimEstimateTransaction tfcet ON (tfct.[ClaimID] = tfcet.[ClaimID])
		LEFT JOIN #TempFactPersonEventTransactionAudit tfpeta ON (tfpet.[PersonEventID] = tfpeta.[PersonEventID])

		--Dimensions
		LEFT JOIN Mart.DimPolicyHolder mdph ON (ISNULL(tfct.[SKPolicyHolderID], tfet.[SKPolicyHolderID])= mdph.[SKPolicyHolderID])
		LEFT JOIN Mart.DimICD10Code mdicd10c ON (tfpdtf.[SKICD10CodeID] = mdicd10c.[SKICD10CodeID])
		LEFT JOIN Mart.DimEventCategory mdec ON (tfet.[SKEventCategoryID] = mdec.[SKEventCategoryID])
		LEFT JOIN Mart.DimAdviseMethod mdam ON (tfpet.[SKAdviseMethodID] = mdam.[SKAdviseMethodID])
		LEFT JOIN Mart.DimUser mdu ON (tfct.[SKUserID] = mdu.[SKUserID])
		LEFT JOIN Mart.DimProduct mdp ON (tfct.[SKProductID] = mdp.[SKProductID])
		LEFT JOIN Mart.DimClaimant mdc ON (tfpet.[SKClaimantID] = mdc.[SKClaimantID])
		LEFT JOIN Mart.DimClaimMacroStatus mdcms ON (tfct.[SKClaimMacroStatusID] = mdcms.[SKClaimMacroStatusID])
		LEFT JOIN Mart.DimClaimStatus mdcs ON (tfct.[SKClaimStatusID] = mdcs.[SKClaimStatusID])
		LEFT JOIN Mart.DimLiabilityDecisionType mdldt ON (tfct.[SKLiabilityDecisionTypeID] = mdldt.[SKLiabilityDecisionTypeID])
		LEFT JOIN Mart.DimIsStraightThroughProcess msistp ON (tfpet.[SKIsStraightThroughProcessID] = msistp.[SKIsStraightThroughProcessID])
		LEFT JOIN Mart.DimPersonEventStatus mdpes ON (tfpet.[SKPersonEventStatusID] = mdpes.[SKPersonEventStatusID])
		LEFT JOIN Mart.DimUser mdupea ON (tfpeta.[SKUserID] = mdupea.[SKUserID])

		LEFT JOIN Mart.DimPolicyHolder mdphtfet ON (tfet.[SKPolicyHolderID] = mdphtfet.[SKPolicyHolderID])
		WHERE isnull(tfct.[IsActiveID],1) =1					----Added 2019/11/25
		--SELECT * FROM RMABIStaging.[dbo].[DWI_ClaimsMaster] WHERE ClaimNumber='C/87877/87877/065B/85/WMP'
	
--END
