USE [AZD-MCC]
GO
/****** Object:  Table [digi].[InjuryAudit]    Script Date: 6/5/2020 11:33:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [digi].[InjuryAudit](
	[InjuryId] [bigint] NOT NULL,
	[InjuryMechanism] [varchar](500) NOT NULL,
	[ClinicalDescription] [varchar](500) NOT NULL,
	[IsConsistent] [bit] NOT NULL,
	[PreconditionOrDisease] [varchar](500) NULL,
	[TenantId] [int] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedDate] [datetime2](7) NOT NULL,
	[ModifiedBy] [int] NOT NULL,
	[AuditStartDate] [datetime2](7) NOT NULL,
	[AuditEndDate] [datetime2](7) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [digi].[Injury]    Script Date: 6/5/2020 11:33:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [digi].[Injury](
	[InjuryId] [bigint] IDENTITY(1,1) NOT NULL,
	[InjuryMechanism] [varchar](500) NOT NULL,
	[ClinicalDescription] [varchar](500) NOT NULL,
	[IsConsistent] [bit] NOT NULL,
	[PreconditionOrDisease] [varchar](500) NULL,
	[TenantId] [int] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedDate] [datetime2](7) NOT NULL,
	[ModifiedBy] [int] NOT NULL,
	[AuditStartDate] [datetime2](7) GENERATED ALWAYS AS ROW START NOT NULL,
	[AuditEndDate] [datetime2](7) GENERATED ALWAYS AS ROW END NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[InjuryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
	PERIOD FOR SYSTEM_TIME ([AuditStartDate], [AuditEndDate])
) ON [PRIMARY]
WITH
(
SYSTEM_VERSIONING = ON ( HISTORY_TABLE = [digi].[InjuryAudit] )
)
GO
/****** Object:  Table [digi].[MedicalServiceProviderAudit]    Script Date: 6/5/2020 11:33:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [digi].[MedicalServiceProviderAudit](
	[MedicalServiceProviderId] [int] NOT NULL,
	[MedicalServiceProviderName] [varchar](500) NOT NULL,
	[MedicalServiceProviderPracticeNo] [varchar](500) NOT NULL,
	[TenantId] [int] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedDate] [datetime2](7) NOT NULL,
	[ModifiedBy] [int] NOT NULL,
	[AuditStartDate] [datetime2](7) NOT NULL,
	[AuditEndDate] [datetime2](7) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [digi].[MedicalServiceProvider]    Script Date: 6/5/2020 11:33:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [digi].[MedicalServiceProvider](
	[MedicalServiceProviderId] [int] IDENTITY(1,1) NOT NULL,
	[MedicalServiceProviderName] [varchar](500) NOT NULL,
	[MedicalServiceProviderPracticeNo] [varchar](500) NOT NULL,
	[TenantId] [int] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedDate] [datetime2](7) NOT NULL,
	[ModifiedBy] [int] NOT NULL,
	[AuditStartDate] [datetime2](7) GENERATED ALWAYS AS ROW START NOT NULL,
	[AuditEndDate] [datetime2](7) GENERATED ALWAYS AS ROW END NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MedicalServiceProviderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
	PERIOD FOR SYSTEM_TIME ([AuditStartDate], [AuditEndDate])
) ON [PRIMARY]
WITH
(
SYSTEM_VERSIONING = ON ( HISTORY_TABLE = [digi].[MedicalServiceProviderAudit] )
)
GO
/****** Object:  Table [digi].[PersonAudit]    Script Date: 6/5/2020 11:33:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [digi].[PersonAudit](
	[PersonId] [bigint] NOT NULL,
	[FirstName] [varchar](100) NOT NULL,
	[MiddletName] [varchar](100) NOT NULL,
	[LastName] [varchar](100) NOT NULL,
	[BirthDate] [date] NOT NULL,
	[IdentityNo] [varchar](13) NULL,
	[TenantId] [int] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedDate] [datetime2](7) NOT NULL,
	[ModifiedBy] [int] NOT NULL,
	[AuditStartDate] [datetime2](7) NOT NULL,
	[AuditEndDate] [datetime2](7) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [digi].[Person]    Script Date: 6/5/2020 11:33:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [digi].[Person](
	[PersonId] [bigint] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](100) NOT NULL,
	[MiddletName] [varchar](100) NOT NULL,
	[LastName] [varchar](100) NOT NULL,
	[BirthDate] [date] NOT NULL,
	[IdentityNo] [varchar](13) NULL,
	[TenantId] [int] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedDate] [datetime2](7) NOT NULL,
	[ModifiedBy] [int] NOT NULL,
	[AuditStartDate] [datetime2](7) GENERATED ALWAYS AS ROW START NOT NULL,
	[AuditEndDate] [datetime2](7) GENERATED ALWAYS AS ROW END NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PersonId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
	PERIOD FOR SYSTEM_TIME ([AuditStartDate], [AuditEndDate])
) ON [PRIMARY]
WITH
(
SYSTEM_VERSIONING = ON ( HISTORY_TABLE = [digi].[PersonAudit] )
)
GO
/****** Object:  Table [digi].[PolicyHolderAudit]    Script Date: 6/5/2020 11:33:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [digi].[PolicyHolderAudit](
	[PolicyHolderId] [bigint] NOT NULL,
	[PolicyHolderName] [varchar](100) NOT NULL,
	[PolicyHolderReference] [varchar](100) NOT NULL,
	[TenantId] [int] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedDate] [datetime2](7) NOT NULL,
	[ModifiedBy] [int] NOT NULL,
	[AuditStartDate] [datetime2](7) NOT NULL,
	[AuditEndDate] [datetime2](7) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [digi].[PolicyHolder]    Script Date: 6/5/2020 11:33:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [digi].[PolicyHolder](
	[PolicyHolderId] [bigint] IDENTITY(1,1) NOT NULL,
	[PolicyHolderName] [varchar](100) NOT NULL,
	[PolicyHolderReference] [varchar](100) NOT NULL,
	[TenantId] [int] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedDate] [datetime2](7) NOT NULL,
	[ModifiedBy] [int] NOT NULL,
	[AuditStartDate] [datetime2](7) GENERATED ALWAYS AS ROW START NOT NULL,
	[AuditEndDate] [datetime2](7) GENERATED ALWAYS AS ROW END NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PolicyHolderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
	PERIOD FOR SYSTEM_TIME ([AuditStartDate], [AuditEndDate])
) ON [PRIMARY]
WITH
(
SYSTEM_VERSIONING = ON ( HISTORY_TABLE = [digi].[PolicyHolderAudit] )
)
GO
/****** Object:  Table [digi].[TreatmentAudit]    Script Date: 6/5/2020 11:33:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [digi].[TreatmentAudit](
	[ TreatmentId] [int] NOT NULL,
	[TreatmentDate] [datetime] NOT NULL,
	[UnfitStartDate] [datetime] NULL,
	[UnfitEndDate] [datetime] NULL,
	[UnfitDays] [int] NULL,
	[TenantId] [int] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedDate] [datetime2](7) NOT NULL,
	[ModifiedBy] [int] NOT NULL,
	[AuditStartDate] [datetime2](7) NOT NULL,
	[AuditEndDate] [datetime2](7) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [digi].[Treatment]    Script Date: 6/5/2020 11:33:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [digi].[Treatment](
	[ TreatmentId] [int] IDENTITY(1,1) NOT NULL,
	[TreatmentDate] [datetime] NOT NULL,
	[UnfitStartDate] [datetime] NULL,
	[UnfitEndDate] [datetime] NULL,
	[UnfitDays] [int] NULL,
	[TenantId] [int] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedDate] [datetime2](7) NOT NULL,
	[ModifiedBy] [int] NOT NULL,
	[AuditStartDate] [datetime2](7) GENERATED ALWAYS AS ROW START NOT NULL,
	[AuditEndDate] [datetime2](7) GENERATED ALWAYS AS ROW END NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ TreatmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
	PERIOD FOR SYSTEM_TIME ([AuditStartDate], [AuditEndDate])
) ON [PRIMARY]
WITH
(
SYSTEM_VERSIONING = ON ( HISTORY_TABLE = [digi].[TreatmentAudit] )
)
GO
/****** Object:  Table [digi].[TreatmentTypeAudit]    Script Date: 6/5/2020 11:33:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [digi].[TreatmentTypeAudit](
	[ TreatmentTypeId] [int] NOT NULL,
	[TreatmentTypeName] [varchar](100) NOT NULL,
	[TenantId] [int] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedDate] [datetime2](7) NOT NULL,
	[ModifiedBy] [int] NOT NULL,
	[AuditStartDate] [datetime2](7) NOT NULL,
	[AuditEndDate] [datetime2](7) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [digi].[TreatmentType]    Script Date: 6/5/2020 11:33:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [digi].[TreatmentType](
	[ TreatmentTypeId] [int] IDENTITY(1,1) NOT NULL,
	[TreatmentTypeName] [varchar](100) NOT NULL,
	[TenantId] [int] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedDate] [datetime2](7) NOT NULL,
	[ModifiedBy] [int] NOT NULL,
	[AuditStartDate] [datetime2](7) GENERATED ALWAYS AS ROW START NOT NULL,
	[AuditEndDate] [datetime2](7) GENERATED ALWAYS AS ROW END NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ TreatmentTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
	PERIOD FOR SYSTEM_TIME ([AuditStartDate], [AuditEndDate])
) ON [PRIMARY]
WITH
(
SYSTEM_VERSIONING = ON ( HISTORY_TABLE = [digi].[TreatmentTypeAudit] )
)
GO
/****** Object:  Table [digi].[WorkItemAudit]    Script Date: 6/5/2020 11:33:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [digi].[WorkItemAudit](
	[WorkItemId] [bigint] NOT NULL,
	[WorkItemName] [varchar](100) NOT NULL,
	[WorkItemTypeId] [int] NOT NULL,
	[WorkItemStateId] [int] NOT NULL,
	[TenantId] [int] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedDate] [datetime2](7) NOT NULL,
	[ModifiedBy] [int] NOT NULL,
	[AuditStartDate] [datetime2](7) NOT NULL,
	[AuditEndDate] [datetime2](7) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [digi].[WorkItem]    Script Date: 6/5/2020 11:33:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [digi].[WorkItem](
	[WorkItemId] [bigint] IDENTITY(1,1) NOT NULL,
	[WorkItemName] [varchar](100) NOT NULL,
	[WorkItemTypeId] [int] NOT NULL,
	[WorkItemStateId] [int] NOT NULL,
	[TenantId] [int] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedDate] [datetime2](7) NOT NULL,
	[ModifiedBy] [int] NOT NULL,
	[AuditStartDate] [datetime2](7) GENERATED ALWAYS AS ROW START NOT NULL,
	[AuditEndDate] [datetime2](7) GENERATED ALWAYS AS ROW END NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[WorkItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
	PERIOD FOR SYSTEM_TIME ([AuditStartDate], [AuditEndDate])
) ON [PRIMARY]
WITH
(
SYSTEM_VERSIONING = ON ( HISTORY_TABLE = [digi].[WorkItemAudit] )
)
GO
/****** Object:  Table [digi].[WorkItemStateAudit]    Script Date: 6/5/2020 11:33:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [digi].[WorkItemStateAudit](
	[WorkItemStateId] [int] NOT NULL,
	[WorkItemStateName] [varchar](100) NOT NULL,
	[TenantId] [int] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedDate] [datetime2](7) NOT NULL,
	[ModifiedBy] [int] NOT NULL,
	[AuditStartDate] [datetime2](7) NOT NULL,
	[AuditEndDate] [datetime2](7) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [digi].[WorkItemState]    Script Date: 6/5/2020 11:33:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [digi].[WorkItemState](
	[WorkItemStateId] [int] IDENTITY(1,1) NOT NULL,
	[WorkItemStateName] [varchar](100) NOT NULL,
	[TenantId] [int] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedDate] [datetime2](7) NOT NULL,
	[ModifiedBy] [int] NOT NULL,
	[AuditStartDate] [datetime2](7) GENERATED ALWAYS AS ROW START NOT NULL,
	[AuditEndDate] [datetime2](7) GENERATED ALWAYS AS ROW END NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[WorkItemStateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
	PERIOD FOR SYSTEM_TIME ([AuditStartDate], [AuditEndDate])
) ON [PRIMARY]
WITH
(
SYSTEM_VERSIONING = ON ( HISTORY_TABLE = [digi].[WorkItemStateAudit] )
)
GO
/****** Object:  Table [digi].[WorkItemTypeAudit]    Script Date: 6/5/2020 11:33:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [digi].[WorkItemTypeAudit](
	[WorkItemTypeId] [int] NOT NULL,
	[WorkItemTypeName] [varchar](100) NOT NULL,
	[WorkItemTypeDescription] [varchar](200) NOT NULL,
	[TenantId] [int] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedDate] [datetime2](7) NOT NULL,
	[ModifiedBy] [int] NOT NULL,
	[AuditStartDate] [datetime2](7) NOT NULL,
	[AuditEndDate] [datetime2](7) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [digi].[WorkItemType]    Script Date: 6/5/2020 11:33:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [digi].[WorkItemType](
	[WorkItemTypeId] [int] IDENTITY(1,1) NOT NULL,
	[WorkItemTypeName] [varchar](100) NOT NULL,
	[WorkItemTypeDescription] [varchar](200) NOT NULL,
	[TenantId] [int] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedDate] [datetime2](7) NOT NULL,
	[ModifiedBy] [int] NOT NULL,
	[AuditStartDate] [datetime2](7) GENERATED ALWAYS AS ROW START NOT NULL,
	[AuditEndDate] [datetime2](7) GENERATED ALWAYS AS ROW END NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[WorkItemTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
	PERIOD FOR SYSTEM_TIME ([AuditStartDate], [AuditEndDate])
) ON [PRIMARY]
WITH
(
SYSTEM_VERSIONING = ON ( HISTORY_TABLE = [digi].[WorkItemTypeAudit] )
)
GO
/****** Object:  Table [digi].[WorkItemType001Audit]    Script Date: 6/5/2020 11:33:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [digi].[WorkItemType001Audit](
	[ WorkItemType001Id] [bigint] NOT NULL,
	[WorkItemId] [bigint] NOT NULL,
	[TenantId] [int] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedDate] [datetime2](7) NOT NULL,
	[ModifiedBy] [int] NOT NULL,
	[AuditStartDate] [datetime2](7) NOT NULL,
	[AuditEndDate] [datetime2](7) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [digi].[WorkItemType001]    Script Date: 6/5/2020 11:33:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [digi].[WorkItemType001](
	[ WorkItemType001Id] [bigint] IDENTITY(1,1) NOT NULL,
	[WorkItemId] [bigint] NOT NULL,
	[TenantId] [int] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedDate] [datetime2](7) NOT NULL,
	[ModifiedBy] [int] NOT NULL,
	[AuditStartDate] [datetime2](7) GENERATED ALWAYS AS ROW START NOT NULL,
	[AuditEndDate] [datetime2](7) GENERATED ALWAYS AS ROW END NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ WorkItemType001Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
	PERIOD FOR SYSTEM_TIME ([AuditStartDate], [AuditEndDate])
) ON [PRIMARY]
WITH
(
SYSTEM_VERSIONING = ON ( HISTORY_TABLE = [digi].[WorkItemType001Audit] )
)
GO
/****** Object:  Table [digi].[WorkItemType001ClaimAudit]    Script Date: 6/5/2020 11:33:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [digi].[WorkItemType001ClaimAudit](
	[ WorkItemType001ClaimId] [bigint] NOT NULL,
	[WorkItemType001Id] [bigint] NOT NULL,
	[ClaimId] [bigint] NOT NULL,
	[TenantId] [int] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedDate] [datetime2](7) NOT NULL,
	[ModifiedBy] [int] NOT NULL,
	[AuditStartDate] [datetime2](7) NOT NULL,
	[AuditEndDate] [datetime2](7) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [digi].[WorkItemType001Claim]    Script Date: 6/5/2020 11:33:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [digi].[WorkItemType001Claim](
	[ WorkItemType001ClaimId] [bigint] IDENTITY(1,1) NOT NULL,
	[WorkItemType001Id] [bigint] NOT NULL,
	[ClaimId] [bigint] NOT NULL,
	[TenantId] [int] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedDate] [datetime2](7) NOT NULL,
	[ModifiedBy] [int] NOT NULL,
	[AuditStartDate] [datetime2](7) GENERATED ALWAYS AS ROW START NOT NULL,
	[AuditEndDate] [datetime2](7) GENERATED ALWAYS AS ROW END NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ WorkItemType001ClaimId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
	PERIOD FOR SYSTEM_TIME ([AuditStartDate], [AuditEndDate])
) ON [PRIMARY]
WITH
(
SYSTEM_VERSIONING = ON ( HISTORY_TABLE = [digi].[WorkItemType001ClaimAudit] )
)
GO
/****** Object:  Table [digi].[WorkItemType001DeclarationAudit]    Script Date: 6/5/2020 11:33:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [digi].[WorkItemType001DeclarationAudit](
	[ WorkItemType001DeclarationId] [bigint] NOT NULL,
	[WorkItemType001Id] [bigint] NOT NULL,
	[PersonId] [bigint] NOT NULL,
	[IsDeclared] [bit] NOT NULL,
	[TenantId] [int] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedDate] [datetime2](7) NOT NULL,
	[ModifiedBy] [int] NOT NULL,
	[AuditStartDate] [datetime2](7) NOT NULL,
	[AuditEndDate] [datetime2](7) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [digi].[WorkItemType001Declaration]    Script Date: 6/5/2020 11:33:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [digi].[WorkItemType001Declaration](
	[ WorkItemType001DeclarationId] [bigint] IDENTITY(1,1) NOT NULL,
	[WorkItemType001Id] [bigint] NOT NULL,
	[PersonId] [bigint] NOT NULL,
	[IsDeclared] [bit] NOT NULL,
	[TenantId] [int] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedDate] [datetime2](7) NOT NULL,
	[ModifiedBy] [int] NOT NULL,
	[AuditStartDate] [datetime2](7) GENERATED ALWAYS AS ROW START NOT NULL,
	[AuditEndDate] [datetime2](7) GENERATED ALWAYS AS ROW END NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ WorkItemType001DeclarationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
	PERIOD FOR SYSTEM_TIME ([AuditStartDate], [AuditEndDate])
) ON [PRIMARY]
WITH
(
SYSTEM_VERSIONING = ON ( HISTORY_TABLE = [digi].[WorkItemType001DeclarationAudit] )
)
GO
/****** Object:  Table [digi].[WorkItemType001ICD10CodeAudit]    Script Date: 6/5/2020 11:33:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [digi].[WorkItemType001ICD10CodeAudit](
	[ WorkItemType001ICD10CodeId] [bigint] NOT NULL,
	[WorkItemType001Id] [bigint] NOT NULL,
	[ICD10CodeId] [int] NOT NULL,
	[TenantId] [int] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedDate] [datetime2](7) NOT NULL,
	[ModifiedBy] [int] NOT NULL,
	[AuditStartDate] [datetime2](7) NOT NULL,
	[AuditEndDate] [datetime2](7) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [digi].[WorkItemType001ICD10Code]    Script Date: 6/5/2020 11:33:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [digi].[WorkItemType001ICD10Code](
	[ WorkItemType001ICD10CodeId] [bigint] IDENTITY(1,1) NOT NULL,
	[WorkItemType001Id] [bigint] NOT NULL,
	[ICD10CodeId] [int] NOT NULL,
	[TenantId] [int] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedDate] [datetime2](7) NOT NULL,
	[ModifiedBy] [int] NOT NULL,
	[AuditStartDate] [datetime2](7) GENERATED ALWAYS AS ROW START NOT NULL,
	[AuditEndDate] [datetime2](7) GENERATED ALWAYS AS ROW END NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ WorkItemType001ICD10CodeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
	PERIOD FOR SYSTEM_TIME ([AuditStartDate], [AuditEndDate])
) ON [PRIMARY]
WITH
(
SYSTEM_VERSIONING = ON ( HISTORY_TABLE = [digi].[WorkItemType001ICD10CodeAudit] )
)
GO
/****** Object:  Table [digi].[WorkItemType001InjuryAudit]    Script Date: 6/5/2020 11:33:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [digi].[WorkItemType001InjuryAudit](
	[ WorkItemType001InjuryId] [bigint] NOT NULL,
	[WorkItemType001Id] [bigint] NOT NULL,
	[InjuryId] [bigint] NOT NULL,
	[TenantId] [int] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedDate] [datetime2](7) NOT NULL,
	[ModifiedBy] [int] NOT NULL,
	[AuditStartDate] [datetime2](7) NOT NULL,
	[AuditEndDate] [datetime2](7) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [digi].[WorkItemType001Injury]    Script Date: 6/5/2020 11:33:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [digi].[WorkItemType001Injury](
	[ WorkItemType001InjuryId] [bigint] IDENTITY(1,1) NOT NULL,
	[WorkItemType001Id] [bigint] NOT NULL,
	[InjuryId] [bigint] NOT NULL,
	[TenantId] [int] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedDate] [datetime2](7) NOT NULL,
	[ModifiedBy] [int] NOT NULL,
	[AuditStartDate] [datetime2](7) GENERATED ALWAYS AS ROW START NOT NULL,
	[AuditEndDate] [datetime2](7) GENERATED ALWAYS AS ROW END NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ WorkItemType001InjuryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
	PERIOD FOR SYSTEM_TIME ([AuditStartDate], [AuditEndDate])
) ON [PRIMARY]
WITH
(
SYSTEM_VERSIONING = ON ( HISTORY_TABLE = [digi].[WorkItemType001InjuryAudit] )
)
GO
/****** Object:  Table [digi].[WorkItemType001MedicalServiceProviderAudit]    Script Date: 6/5/2020 11:33:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [digi].[WorkItemType001MedicalServiceProviderAudit](
	[ WorkItemType001MedicalServiceProviderId] [bigint] NOT NULL,
	[WorkItemType001Id] [bigint] NOT NULL,
	[MedicalServiceProviderId] [int] NOT NULL,
	[TenantId] [int] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedDate] [datetime2](7) NOT NULL,
	[ModifiedBy] [int] NOT NULL,
	[AuditStartDate] [datetime2](7) NOT NULL,
	[AuditEndDate] [datetime2](7) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [digi].[WorkItemType001MedicalServiceProvider]    Script Date: 6/5/2020 11:33:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [digi].[WorkItemType001MedicalServiceProvider](
	[ WorkItemType001MedicalServiceProviderId] [bigint] IDENTITY(1,1) NOT NULL,
	[WorkItemType001Id] [bigint] NOT NULL,
	[MedicalServiceProviderId] [int] NOT NULL,
	[TenantId] [int] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedDate] [datetime2](7) NOT NULL,
	[ModifiedBy] [int] NOT NULL,
	[AuditStartDate] [datetime2](7) GENERATED ALWAYS AS ROW START NOT NULL,
	[AuditEndDate] [datetime2](7) GENERATED ALWAYS AS ROW END NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ WorkItemType001MedicalServiceProviderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
	PERIOD FOR SYSTEM_TIME ([AuditStartDate], [AuditEndDate])
) ON [PRIMARY]
WITH
(
SYSTEM_VERSIONING = ON ( HISTORY_TABLE = [digi].[WorkItemType001MedicalServiceProviderAudit] )
)
GO
/****** Object:  Table [digi].[WorkItemType001PatientAudit]    Script Date: 6/5/2020 11:33:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [digi].[WorkItemType001PatientAudit](
	[ WorkItemType001PatientId] [bigint] NOT NULL,
	[WorkItemType001Id] [bigint] NOT NULL,
	[PersonId] [bigint] NOT NULL,
	[TenantId] [int] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedDate] [datetime2](7) NOT NULL,
	[ModifiedBy] [int] NOT NULL,
	[AuditStartDate] [datetime2](7) NOT NULL,
	[AuditEndDate] [datetime2](7) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [digi].[WorkItemType001Patient]    Script Date: 6/5/2020 11:33:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [digi].[WorkItemType001Patient](
	[ WorkItemType001PatientId] [bigint] IDENTITY(1,1) NOT NULL,
	[WorkItemType001Id] [bigint] NOT NULL,
	[PersonId] [bigint] NOT NULL,
	[TenantId] [int] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedDate] [datetime2](7) NOT NULL,
	[ModifiedBy] [int] NOT NULL,
	[AuditStartDate] [datetime2](7) GENERATED ALWAYS AS ROW START NOT NULL,
	[AuditEndDate] [datetime2](7) GENERATED ALWAYS AS ROW END NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ WorkItemType001PatientId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
	PERIOD FOR SYSTEM_TIME ([AuditStartDate], [AuditEndDate])
) ON [PRIMARY]
WITH
(
SYSTEM_VERSIONING = ON ( HISTORY_TABLE = [digi].[WorkItemType001PatientAudit] )
)
GO
/****** Object:  Table [digi].[WorkItemType001TreatmentAudit]    Script Date: 6/5/2020 11:33:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [digi].[WorkItemType001TreatmentAudit](
	[ WorkItemType001TreatmentId] [bigint] NOT NULL,
	[WorkItemType001Id] [bigint] NOT NULL,
	[TreatmentId] [int] NOT NULL,
	[TenantId] [int] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedDate] [datetime2](7) NOT NULL,
	[ModifiedBy] [int] NOT NULL,
	[AuditStartDate] [datetime2](7) NOT NULL,
	[AuditEndDate] [datetime2](7) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [digi].[WorkItemType001Treatment]    Script Date: 6/5/2020 11:33:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [digi].[WorkItemType001Treatment](
	[ WorkItemType001TreatmentId] [bigint] IDENTITY(1,1) NOT NULL,
	[WorkItemType001Id] [bigint] NOT NULL,
	[TreatmentId] [int] NOT NULL,
	[TenantId] [int] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedDate] [datetime2](7) NOT NULL,
	[ModifiedBy] [int] NOT NULL,
	[AuditStartDate] [datetime2](7) GENERATED ALWAYS AS ROW START NOT NULL,
	[AuditEndDate] [datetime2](7) GENERATED ALWAYS AS ROW END NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ WorkItemType001TreatmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
	PERIOD FOR SYSTEM_TIME ([AuditStartDate], [AuditEndDate])
) ON [PRIMARY]
WITH
(
SYSTEM_VERSIONING = ON ( HISTORY_TABLE = [digi].[WorkItemType001TreatmentAudit] )
)
GO
/****** Object:  Table [digi].[WorkItemType001TreatmentTypeAudit]    Script Date: 6/5/2020 11:33:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [digi].[WorkItemType001TreatmentTypeAudit](
	[ WorkItemType001TreatmentTypeId] [bigint] NOT NULL,
	[WorkItemType001Id] [bigint] NOT NULL,
	[TreatmentTypeId] [int] NOT NULL,
	[TreatmentTypeDescription] [int] NOT NULL,
	[TenantId] [int] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedDate] [datetime2](7) NOT NULL,
	[ModifiedBy] [int] NOT NULL,
	[AuditStartDate] [datetime2](7) NOT NULL,
	[AuditEndDate] [datetime2](7) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [digi].[WorkItemType001TreatmentType]    Script Date: 6/5/2020 11:33:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [digi].[WorkItemType001TreatmentType](
	[ WorkItemType001TreatmentTypeId] [bigint] IDENTITY(1,1) NOT NULL,
	[WorkItemType001Id] [bigint] NOT NULL,
	[TreatmentTypeId] [int] NOT NULL,
	[TreatmentTypeDescription] [int] NOT NULL,
	[TenantId] [int] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedDate] [datetime2](7) NOT NULL,
	[ModifiedBy] [int] NOT NULL,
	[AuditStartDate] [datetime2](7) GENERATED ALWAYS AS ROW START NOT NULL,
	[AuditEndDate] [datetime2](7) GENERATED ALWAYS AS ROW END NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ WorkItemType001TreatmentTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
	PERIOD FOR SYSTEM_TIME ([AuditStartDate], [AuditEndDate])
) ON [PRIMARY]
WITH
(
SYSTEM_VERSIONING = ON ( HISTORY_TABLE = [digi].[WorkItemType001TreatmentTypeAudit] )
)
GO
/****** Object:  Table [digi].[ICD10CodeAudit]    Script Date: 6/5/2020 11:33:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [digi].[ICD10CodeAudit](
	[ICD10CodeId] [int] NOT NULL,
	[ICD10Code] [varchar](100) NOT NULL,
	[ICD10CodeName] [varchar](200) NOT NULL,
	[TenantId] [int] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedDate] [datetime2](7) NOT NULL,
	[ModifiedBy] [int] NOT NULL,
	[AuditStartDate] [datetime2](7) NOT NULL,
	[AuditEndDate] [datetime2](7) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [digi].[ICD10Code]    Script Date: 6/5/2020 11:33:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [digi].[ICD10Code](
	[ICD10CodeId] [int] IDENTITY(1,1) NOT NULL,
	[ICD10Code] [varchar](100) NOT NULL,
	[ICD10CodeName] [varchar](200) NOT NULL,
	[TenantId] [int] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedDate] [datetime2](7) NOT NULL,
	[ModifiedBy] [int] NOT NULL,
	[AuditStartDate] [datetime2](7) GENERATED ALWAYS AS ROW START NOT NULL,
	[AuditEndDate] [datetime2](7) GENERATED ALWAYS AS ROW END NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ICD10CodeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
	PERIOD FOR SYSTEM_TIME ([AuditStartDate], [AuditEndDate])
) ON [PRIMARY]
WITH
(
SYSTEM_VERSIONING = ON ( HISTORY_TABLE = [digi].[ICD10CodeAudit] )
)
GO
/****** Object:  Table [digi].[ClaimAudit]    Script Date: 6/5/2020 11:33:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [digi].[ClaimAudit](
	[ClaimId] [bigint] NOT NULL,
	[ClaimNo] [varchar](100) NOT NULL,
	[AccidentDate] [datetime] NOT NULL,
	[TenantId] [int] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedDate] [datetime2](7) NOT NULL,
	[ModifiedBy] [int] NOT NULL,
	[AuditStartDate] [datetime2](7) NOT NULL,
	[AuditEndDate] [datetime2](7) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [digi].[Claim]    Script Date: 6/5/2020 11:33:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [digi].[Claim](
	[ClaimId] [bigint] IDENTITY(1,1) NOT NULL,
	[ClaimNo] [varchar](100) NOT NULL,
	[AccidentDate] [datetime] NOT NULL,
	[TenantId] [int] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedDate] [datetime2](7) NOT NULL,
	[ModifiedBy] [int] NOT NULL,
	[AuditStartDate] [datetime2](7) GENERATED ALWAYS AS ROW START NOT NULL,
	[AuditEndDate] [datetime2](7) GENERATED ALWAYS AS ROW END NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ClaimId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
	PERIOD FOR SYSTEM_TIME ([AuditStartDate], [AuditEndDate])
) ON [PRIMARY]
WITH
(
SYSTEM_VERSIONING = ON ( HISTORY_TABLE = [digi].[ClaimAudit] )
)
GO
ALTER TABLE [digi].[Claim] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [digi].[ICD10Code] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [digi].[Injury] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [digi].[MedicalServiceProvider] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [digi].[Person] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [digi].[PolicyHolder] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [digi].[Treatment] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [digi].[TreatmentType] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [digi].[WorkItem] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [digi].[WorkItemState] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [digi].[WorkItemType] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [digi].[WorkItemType001] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [digi].[WorkItemType001Claim] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [digi].[WorkItemType001Declaration] ADD  DEFAULT ((0)) FOR [IsDeclared]
GO
ALTER TABLE [digi].[WorkItemType001Declaration] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [digi].[WorkItemType001ICD10Code] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [digi].[WorkItemType001Injury] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [digi].[WorkItemType001MedicalServiceProvider] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [digi].[WorkItemType001Patient] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [digi].[WorkItemType001Treatment] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [digi].[WorkItemType001TreatmentType] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [digi].[Claim]  WITH CHECK ADD  CONSTRAINT [FK_Claim_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [security].[User] ([Id])
GO
ALTER TABLE [digi].[Claim] CHECK CONSTRAINT [FK_Claim_CreatedBy]
GO
ALTER TABLE [digi].[Claim]  WITH CHECK ADD  CONSTRAINT [FK_Claim_DataArea] FOREIGN KEY([TenantId])
REFERENCES [security].[Tenant] ([Id])
GO
ALTER TABLE [digi].[Claim] CHECK CONSTRAINT [FK_Claim_DataArea]
GO
ALTER TABLE [digi].[Claim]  WITH CHECK ADD  CONSTRAINT [FK_Claim_ModifiedBy] FOREIGN KEY([ModifiedBy])
REFERENCES [security].[User] ([Id])
GO
ALTER TABLE [digi].[Claim] CHECK CONSTRAINT [FK_Claim_ModifiedBy]
GO
ALTER TABLE [digi].[Claim]  WITH CHECK ADD  CONSTRAINT [FK_Claim_Tenant] FOREIGN KEY([TenantId])
REFERENCES [security].[Tenant] ([Id])
GO
ALTER TABLE [digi].[Claim] CHECK CONSTRAINT [FK_Claim_Tenant]
GO
ALTER TABLE [digi].[ICD10Code]  WITH CHECK ADD  CONSTRAINT [FK_ICD10Code_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [security].[User] ([Id])
GO
ALTER TABLE [digi].[ICD10Code] CHECK CONSTRAINT [FK_ICD10Code_CreatedBy]
GO
ALTER TABLE [digi].[ICD10Code]  WITH CHECK ADD  CONSTRAINT [FK_ICD10Code_ModifiedBy] FOREIGN KEY([ModifiedBy])
REFERENCES [security].[User] ([Id])
GO
ALTER TABLE [digi].[ICD10Code] CHECK CONSTRAINT [FK_ICD10Code_ModifiedBy]
GO
ALTER TABLE [digi].[ICD10Code]  WITH CHECK ADD  CONSTRAINT [FK_ICD10Code_Tenant] FOREIGN KEY([TenantId])
REFERENCES [security].[Tenant] ([Id])
GO
ALTER TABLE [digi].[ICD10Code] CHECK CONSTRAINT [FK_ICD10Code_Tenant]
GO
ALTER TABLE [digi].[Injury]  WITH CHECK ADD  CONSTRAINT [FK_Injury_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [security].[User] ([Id])
GO
ALTER TABLE [digi].[Injury] CHECK CONSTRAINT [FK_Injury_CreatedBy]
GO
ALTER TABLE [digi].[Injury]  WITH CHECK ADD  CONSTRAINT [FK_Injury_ModifiedBy] FOREIGN KEY([ModifiedBy])
REFERENCES [security].[User] ([Id])
GO
ALTER TABLE [digi].[Injury] CHECK CONSTRAINT [FK_Injury_ModifiedBy]
GO
ALTER TABLE [digi].[Injury]  WITH CHECK ADD  CONSTRAINT [FK_Injury_Tenant] FOREIGN KEY([TenantId])
REFERENCES [security].[Tenant] ([Id])
GO
ALTER TABLE [digi].[Injury] CHECK CONSTRAINT [FK_Injury_Tenant]
GO
ALTER TABLE [digi].[MedicalServiceProvider]  WITH CHECK ADD  CONSTRAINT [FK_MedicalServiceProvider _CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [security].[User] ([Id])
GO
ALTER TABLE [digi].[MedicalServiceProvider] CHECK CONSTRAINT [FK_MedicalServiceProvider _CreatedBy]
GO
ALTER TABLE [digi].[MedicalServiceProvider]  WITH CHECK ADD  CONSTRAINT [FK_MedicalServiceProvider_ModifiedBy] FOREIGN KEY([ModifiedBy])
REFERENCES [security].[User] ([Id])
GO
ALTER TABLE [digi].[MedicalServiceProvider] CHECK CONSTRAINT [FK_MedicalServiceProvider_ModifiedBy]
GO
ALTER TABLE [digi].[MedicalServiceProvider]  WITH CHECK ADD  CONSTRAINT [FK_MedicalServiceProvider_Tenant] FOREIGN KEY([TenantId])
REFERENCES [security].[Tenant] ([Id])
GO
ALTER TABLE [digi].[MedicalServiceProvider] CHECK CONSTRAINT [FK_MedicalServiceProvider_Tenant]
GO
ALTER TABLE [digi].[Person]  WITH CHECK ADD  CONSTRAINT [FK_Person_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [security].[User] ([Id])
GO
ALTER TABLE [digi].[Person] CHECK CONSTRAINT [FK_Person_CreatedBy]
GO
ALTER TABLE [digi].[Person]  WITH CHECK ADD  CONSTRAINT [FK_Person_ModifiedBy] FOREIGN KEY([ModifiedBy])
REFERENCES [security].[User] ([Id])
GO
ALTER TABLE [digi].[Person] CHECK CONSTRAINT [FK_Person_ModifiedBy]
GO
ALTER TABLE [digi].[Person]  WITH CHECK ADD  CONSTRAINT [FK_Person_Tenant] FOREIGN KEY([TenantId])
REFERENCES [security].[Tenant] ([Id])
GO
ALTER TABLE [digi].[Person] CHECK CONSTRAINT [FK_Person_Tenant]
GO
ALTER TABLE [digi].[PolicyHolder]  WITH CHECK ADD  CONSTRAINT [FK_PolicyHolder_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [security].[User] ([Id])
GO
ALTER TABLE [digi].[PolicyHolder] CHECK CONSTRAINT [FK_PolicyHolder_CreatedBy]
GO
ALTER TABLE [digi].[PolicyHolder]  WITH CHECK ADD  CONSTRAINT [FK_PolicyHolder_ModifiedBy] FOREIGN KEY([ModifiedBy])
REFERENCES [security].[User] ([Id])
GO
ALTER TABLE [digi].[PolicyHolder] CHECK CONSTRAINT [FK_PolicyHolder_ModifiedBy]
GO
ALTER TABLE [digi].[PolicyHolder]  WITH CHECK ADD  CONSTRAINT [FK_PolicyHolder_Tenant] FOREIGN KEY([TenantId])
REFERENCES [security].[Tenant] ([Id])
GO
ALTER TABLE [digi].[PolicyHolder] CHECK CONSTRAINT [FK_PolicyHolder_Tenant]
GO
ALTER TABLE [digi].[Treatment]  WITH CHECK ADD  CONSTRAINT [FK_Treatment_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [security].[User] ([Id])
GO
ALTER TABLE [digi].[Treatment] CHECK CONSTRAINT [FK_Treatment_CreatedBy]
GO
ALTER TABLE [digi].[Treatment]  WITH CHECK ADD  CONSTRAINT [FK_Treatment_ModifiedBy] FOREIGN KEY([ModifiedBy])
REFERENCES [security].[User] ([Id])
GO
ALTER TABLE [digi].[Treatment] CHECK CONSTRAINT [FK_Treatment_ModifiedBy]
GO
ALTER TABLE [digi].[Treatment]  WITH CHECK ADD  CONSTRAINT [FK_Treatment_Tenant] FOREIGN KEY([TenantId])
REFERENCES [security].[Tenant] ([Id])
GO
ALTER TABLE [digi].[Treatment] CHECK CONSTRAINT [FK_Treatment_Tenant]
GO
ALTER TABLE [digi].[TreatmentType]  WITH CHECK ADD  CONSTRAINT [FK_TreatmentType_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [security].[User] ([Id])
GO
ALTER TABLE [digi].[TreatmentType] CHECK CONSTRAINT [FK_TreatmentType_CreatedBy]
GO
ALTER TABLE [digi].[TreatmentType]  WITH CHECK ADD  CONSTRAINT [FK_TreatmentType_ModifiedBy] FOREIGN KEY([ModifiedBy])
REFERENCES [security].[User] ([Id])
GO
ALTER TABLE [digi].[TreatmentType] CHECK CONSTRAINT [FK_TreatmentType_ModifiedBy]
GO
ALTER TABLE [digi].[TreatmentType]  WITH CHECK ADD  CONSTRAINT [FK_TreatmentType_Tenant] FOREIGN KEY([TenantId])
REFERENCES [security].[Tenant] ([Id])
GO
ALTER TABLE [digi].[TreatmentType] CHECK CONSTRAINT [FK_TreatmentType_Tenant]
GO
ALTER TABLE [digi].[WorkItem]  WITH CHECK ADD  CONSTRAINT [FK_WorkItem_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [security].[User] ([Id])
GO
ALTER TABLE [digi].[WorkItem] CHECK CONSTRAINT [FK_WorkItem_CreatedBy]
GO
ALTER TABLE [digi].[WorkItem]  WITH CHECK ADD  CONSTRAINT [FK_WorkItem_ModifiedBy] FOREIGN KEY([ModifiedBy])
REFERENCES [security].[User] ([Id])
GO
ALTER TABLE [digi].[WorkItem] CHECK CONSTRAINT [FK_WorkItem_ModifiedBy]
GO
ALTER TABLE [digi].[WorkItem]  WITH CHECK ADD  CONSTRAINT [FK_WorkItem_Tenant] FOREIGN KEY([TenantId])
REFERENCES [security].[Tenant] ([Id])
GO
ALTER TABLE [digi].[WorkItem] CHECK CONSTRAINT [FK_WorkItem_Tenant]
GO
ALTER TABLE [digi].[WorkItem]  WITH CHECK ADD  CONSTRAINT [FK_WorkItem_WorkItemState] FOREIGN KEY([WorkItemStateId])
REFERENCES [digi].[WorkItemState] ([WorkItemStateId])
GO
ALTER TABLE [digi].[WorkItem] CHECK CONSTRAINT [FK_WorkItem_WorkItemState]
GO
ALTER TABLE [digi].[WorkItem]  WITH CHECK ADD  CONSTRAINT [FK_WorkItem_WorkItemType] FOREIGN KEY([WorkItemTypeId])
REFERENCES [digi].[WorkItemType] ([WorkItemTypeId])
GO
ALTER TABLE [digi].[WorkItem] CHECK CONSTRAINT [FK_WorkItem_WorkItemType]
GO
ALTER TABLE [digi].[WorkItemState]  WITH CHECK ADD  CONSTRAINT [FK_WorkItemState_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [security].[User] ([Id])
GO
ALTER TABLE [digi].[WorkItemState] CHECK CONSTRAINT [FK_WorkItemState_CreatedBy]
GO
ALTER TABLE [digi].[WorkItemState]  WITH CHECK ADD  CONSTRAINT [FK_WorkItemState_ModifiedBy] FOREIGN KEY([ModifiedBy])
REFERENCES [security].[User] ([Id])
GO
ALTER TABLE [digi].[WorkItemState] CHECK CONSTRAINT [FK_WorkItemState_ModifiedBy]
GO
ALTER TABLE [digi].[WorkItemState]  WITH CHECK ADD  CONSTRAINT [FK_WorkItemState_Tenant] FOREIGN KEY([TenantId])
REFERENCES [security].[Tenant] ([Id])
GO
ALTER TABLE [digi].[WorkItemState] CHECK CONSTRAINT [FK_WorkItemState_Tenant]
GO
ALTER TABLE [digi].[WorkItemType]  WITH CHECK ADD  CONSTRAINT [FK_WorkItemType_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [security].[User] ([Id])
GO
ALTER TABLE [digi].[WorkItemType] CHECK CONSTRAINT [FK_WorkItemType_CreatedBy]
GO
ALTER TABLE [digi].[WorkItemType]  WITH CHECK ADD  CONSTRAINT [FK_WorkItemType_ModifiedBy] FOREIGN KEY([ModifiedBy])
REFERENCES [security].[User] ([Id])
GO
ALTER TABLE [digi].[WorkItemType] CHECK CONSTRAINT [FK_WorkItemType_ModifiedBy]
GO
ALTER TABLE [digi].[WorkItemType]  WITH CHECK ADD  CONSTRAINT [FK_WorkItemType_Tenant] FOREIGN KEY([TenantId])
REFERENCES [security].[Tenant] ([Id])
GO
ALTER TABLE [digi].[WorkItemType] CHECK CONSTRAINT [FK_WorkItemType_Tenant]
GO
ALTER TABLE [digi].[WorkItemType001]  WITH CHECK ADD  CONSTRAINT [FK_WorkItemType001_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [security].[User] ([Id])
GO
ALTER TABLE [digi].[WorkItemType001] CHECK CONSTRAINT [FK_WorkItemType001_CreatedBy]
GO
ALTER TABLE [digi].[WorkItemType001]  WITH CHECK ADD  CONSTRAINT [FK_WorkItemType001_ModifiedBy] FOREIGN KEY([ModifiedBy])
REFERENCES [security].[User] ([Id])
GO
ALTER TABLE [digi].[WorkItemType001] CHECK CONSTRAINT [FK_WorkItemType001_ModifiedBy]
GO
ALTER TABLE [digi].[WorkItemType001]  WITH CHECK ADD  CONSTRAINT [FK_WorkItemType001_Tenant] FOREIGN KEY([TenantId])
REFERENCES [security].[Tenant] ([Id])
GO
ALTER TABLE [digi].[WorkItemType001] CHECK CONSTRAINT [FK_WorkItemType001_Tenant]
GO
ALTER TABLE [digi].[WorkItemType001]  WITH CHECK ADD  CONSTRAINT [FK_WorkItemType001_WorkItem] FOREIGN KEY([WorkItemId])
REFERENCES [digi].[WorkItem] ([WorkItemId])
GO
ALTER TABLE [digi].[WorkItemType001] CHECK CONSTRAINT [FK_WorkItemType001_WorkItem]
GO
ALTER TABLE [digi].[WorkItemType001Claim]  WITH CHECK ADD  CONSTRAINT [FK_WorkItemType001Claim_Claim] FOREIGN KEY([ClaimId])
REFERENCES [digi].[Claim] ([ClaimId])
GO
ALTER TABLE [digi].[WorkItemType001Claim] CHECK CONSTRAINT [FK_WorkItemType001Claim_Claim]
GO
ALTER TABLE [digi].[WorkItemType001Claim]  WITH CHECK ADD  CONSTRAINT [FK_WorkItemType001Claim_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [security].[User] ([Id])
GO
ALTER TABLE [digi].[WorkItemType001Claim] CHECK CONSTRAINT [FK_WorkItemType001Claim_CreatedBy]
GO
ALTER TABLE [digi].[WorkItemType001Claim]  WITH CHECK ADD  CONSTRAINT [FK_WorkItemType001Claim_ModifiedBy] FOREIGN KEY([ModifiedBy])
REFERENCES [security].[User] ([Id])
GO
ALTER TABLE [digi].[WorkItemType001Claim] CHECK CONSTRAINT [FK_WorkItemType001Claim_ModifiedBy]
GO
ALTER TABLE [digi].[WorkItemType001Claim]  WITH CHECK ADD  CONSTRAINT [FK_WorkItemType001Claim_Tenant] FOREIGN KEY([TenantId])
REFERENCES [security].[Tenant] ([Id])
GO
ALTER TABLE [digi].[WorkItemType001Claim] CHECK CONSTRAINT [FK_WorkItemType001Claim_Tenant]
GO
ALTER TABLE [digi].[WorkItemType001Claim]  WITH CHECK ADD  CONSTRAINT [FK_WorkItemType001Claim_WorkItemType001] FOREIGN KEY([WorkItemType001Id])
REFERENCES [digi].[WorkItemType001] ([ WorkItemType001Id])
GO
ALTER TABLE [digi].[WorkItemType001Claim] CHECK CONSTRAINT [FK_WorkItemType001Claim_WorkItemType001]
GO
ALTER TABLE [digi].[WorkItemType001Declaration]  WITH CHECK ADD  CONSTRAINT [FK_WorkItemType001Declaration_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [security].[User] ([Id])
GO
ALTER TABLE [digi].[WorkItemType001Declaration] CHECK CONSTRAINT [FK_WorkItemType001Declaration_CreatedBy]
GO
ALTER TABLE [digi].[WorkItemType001Declaration]  WITH CHECK ADD  CONSTRAINT [FK_WorkItemType001Declaration_Person] FOREIGN KEY([PersonId])
REFERENCES [digi].[Person] ([PersonId])
GO
ALTER TABLE [digi].[WorkItemType001Declaration] CHECK CONSTRAINT [FK_WorkItemType001Declaration_Person]
GO
ALTER TABLE [digi].[WorkItemType001Declaration]  WITH CHECK ADD  CONSTRAINT [FK_WorkItemType001Declaration_Tenant] FOREIGN KEY([TenantId])
REFERENCES [security].[Tenant] ([Id])
GO
ALTER TABLE [digi].[WorkItemType001Declaration] CHECK CONSTRAINT [FK_WorkItemType001Declaration_Tenant]
GO
ALTER TABLE [digi].[WorkItemType001Declaration]  WITH CHECK ADD  CONSTRAINT [FK_WorkItemType001Declaration_WorkItemType001] FOREIGN KEY([WorkItemType001Id])
REFERENCES [digi].[WorkItemType001] ([ WorkItemType001Id])
GO
ALTER TABLE [digi].[WorkItemType001Declaration] CHECK CONSTRAINT [FK_WorkItemType001Declaration_WorkItemType001]
GO
ALTER TABLE [digi].[WorkItemType001Declaration]  WITH CHECK ADD  CONSTRAINT [FKWorkItemType001Declaration_ModifiedBy] FOREIGN KEY([ModifiedBy])
REFERENCES [security].[User] ([Id])
GO
ALTER TABLE [digi].[WorkItemType001Declaration] CHECK CONSTRAINT [FKWorkItemType001Declaration_ModifiedBy]
GO
ALTER TABLE [digi].[WorkItemType001ICD10Code]  WITH CHECK ADD  CONSTRAINT [FK_WorkItemType001ICD10Code_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [security].[User] ([Id])
GO
ALTER TABLE [digi].[WorkItemType001ICD10Code] CHECK CONSTRAINT [FK_WorkItemType001ICD10Code_CreatedBy]
GO
ALTER TABLE [digi].[WorkItemType001ICD10Code]  WITH CHECK ADD  CONSTRAINT [FK_WorkItemType001ICD10Code_ICD10Code] FOREIGN KEY([ICD10CodeId])
REFERENCES [digi].[ICD10Code] ([ICD10CodeId])
GO
ALTER TABLE [digi].[WorkItemType001ICD10Code] CHECK CONSTRAINT [FK_WorkItemType001ICD10Code_ICD10Code]
GO
ALTER TABLE [digi].[WorkItemType001ICD10Code]  WITH CHECK ADD  CONSTRAINT [FK_WorkItemType001ICD10Code_ModifiedBy] FOREIGN KEY([ModifiedBy])
REFERENCES [security].[User] ([Id])
GO
ALTER TABLE [digi].[WorkItemType001ICD10Code] CHECK CONSTRAINT [FK_WorkItemType001ICD10Code_ModifiedBy]
GO
ALTER TABLE [digi].[WorkItemType001ICD10Code]  WITH CHECK ADD  CONSTRAINT [FK_WorkItemType001ICD10Code_Tenant] FOREIGN KEY([TenantId])
REFERENCES [security].[Tenant] ([Id])
GO
ALTER TABLE [digi].[WorkItemType001ICD10Code] CHECK CONSTRAINT [FK_WorkItemType001ICD10Code_Tenant]
GO
ALTER TABLE [digi].[WorkItemType001ICD10Code]  WITH CHECK ADD  CONSTRAINT [FK_WorkItemType001ICD10Code_WorkItemType001] FOREIGN KEY([WorkItemType001Id])
REFERENCES [digi].[WorkItemType001] ([ WorkItemType001Id])
GO
ALTER TABLE [digi].[WorkItemType001ICD10Code] CHECK CONSTRAINT [FK_WorkItemType001ICD10Code_WorkItemType001]
GO
ALTER TABLE [digi].[WorkItemType001Injury]  WITH CHECK ADD  CONSTRAINT [FK_WorkItemType001Injury_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [security].[User] ([Id])
GO
ALTER TABLE [digi].[WorkItemType001Injury] CHECK CONSTRAINT [FK_WorkItemType001Injury_CreatedBy]
GO
ALTER TABLE [digi].[WorkItemType001Injury]  WITH CHECK ADD  CONSTRAINT [FK_WorkItemType001Injury_Injury] FOREIGN KEY([InjuryId])
REFERENCES [digi].[Injury] ([InjuryId])
GO
ALTER TABLE [digi].[WorkItemType001Injury] CHECK CONSTRAINT [FK_WorkItemType001Injury_Injury]
GO
ALTER TABLE [digi].[WorkItemType001Injury]  WITH CHECK ADD  CONSTRAINT [FK_WorkItemType001Injury_ModifiedBy] FOREIGN KEY([ModifiedBy])
REFERENCES [security].[User] ([Id])
GO
ALTER TABLE [digi].[WorkItemType001Injury] CHECK CONSTRAINT [FK_WorkItemType001Injury_ModifiedBy]
GO
ALTER TABLE [digi].[WorkItemType001Injury]  WITH CHECK ADD  CONSTRAINT [FK_WorkItemType001Injury_Tenant] FOREIGN KEY([TenantId])
REFERENCES [security].[Tenant] ([Id])
GO
ALTER TABLE [digi].[WorkItemType001Injury] CHECK CONSTRAINT [FK_WorkItemType001Injury_Tenant]
GO
ALTER TABLE [digi].[WorkItemType001Injury]  WITH CHECK ADD  CONSTRAINT [FK_WorkItemType001Injury_WorkItemType001] FOREIGN KEY([WorkItemType001Id])
REFERENCES [digi].[WorkItemType001] ([ WorkItemType001Id])
GO
ALTER TABLE [digi].[WorkItemType001Injury] CHECK CONSTRAINT [FK_WorkItemType001Injury_WorkItemType001]
GO
ALTER TABLE [digi].[WorkItemType001MedicalServiceProvider]  WITH CHECK ADD  CONSTRAINT [FK_WorkItemType001MedicalServiceProvider_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [security].[User] ([Id])
GO
ALTER TABLE [digi].[WorkItemType001MedicalServiceProvider] CHECK CONSTRAINT [FK_WorkItemType001MedicalServiceProvider_CreatedBy]
GO
ALTER TABLE [digi].[WorkItemType001MedicalServiceProvider]  WITH CHECK ADD  CONSTRAINT [FK_WorkItemType001MedicalServiceProvider_MedicalServiceProvider] FOREIGN KEY([MedicalServiceProviderId])
REFERENCES [digi].[MedicalServiceProvider] ([MedicalServiceProviderId])
GO
ALTER TABLE [digi].[WorkItemType001MedicalServiceProvider] CHECK CONSTRAINT [FK_WorkItemType001MedicalServiceProvider_MedicalServiceProvider]
GO
ALTER TABLE [digi].[WorkItemType001MedicalServiceProvider]  WITH CHECK ADD  CONSTRAINT [FK_WorkItemType001MedicalServiceProvider_ModifiedBy] FOREIGN KEY([ModifiedBy])
REFERENCES [security].[User] ([Id])
GO
ALTER TABLE [digi].[WorkItemType001MedicalServiceProvider] CHECK CONSTRAINT [FK_WorkItemType001MedicalServiceProvider_ModifiedBy]
GO
ALTER TABLE [digi].[WorkItemType001MedicalServiceProvider]  WITH CHECK ADD  CONSTRAINT [FK_WorkItemType001MedicalServiceProvider_Tenant] FOREIGN KEY([TenantId])
REFERENCES [security].[Tenant] ([Id])
GO
ALTER TABLE [digi].[WorkItemType001MedicalServiceProvider] CHECK CONSTRAINT [FK_WorkItemType001MedicalServiceProvider_Tenant]
GO
ALTER TABLE [digi].[WorkItemType001MedicalServiceProvider]  WITH CHECK ADD  CONSTRAINT [FK_WorkItemType001MedicalServiceProvider_WorkItemType001] FOREIGN KEY([WorkItemType001Id])
REFERENCES [digi].[WorkItemType001] ([ WorkItemType001Id])
GO
ALTER TABLE [digi].[WorkItemType001MedicalServiceProvider] CHECK CONSTRAINT [FK_WorkItemType001MedicalServiceProvider_WorkItemType001]
GO
ALTER TABLE [digi].[WorkItemType001Patient]  WITH CHECK ADD  CONSTRAINT [FK_WorkItemType001Patient_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [security].[User] ([Id])
GO
ALTER TABLE [digi].[WorkItemType001Patient] CHECK CONSTRAINT [FK_WorkItemType001Patient_CreatedBy]
GO
ALTER TABLE [digi].[WorkItemType001Patient]  WITH CHECK ADD  CONSTRAINT [FK_WorkItemType001Patient_ModifiedBy] FOREIGN KEY([ModifiedBy])
REFERENCES [security].[User] ([Id])
GO
ALTER TABLE [digi].[WorkItemType001Patient] CHECK CONSTRAINT [FK_WorkItemType001Patient_ModifiedBy]
GO
ALTER TABLE [digi].[WorkItemType001Patient]  WITH CHECK ADD  CONSTRAINT [FK_WorkItemType001Patient_Person] FOREIGN KEY([PersonId])
REFERENCES [digi].[Person] ([PersonId])
GO
ALTER TABLE [digi].[WorkItemType001Patient] CHECK CONSTRAINT [FK_WorkItemType001Patient_Person]
GO
ALTER TABLE [digi].[WorkItemType001Patient]  WITH CHECK ADD  CONSTRAINT [FK_WorkItemType001Patient_Tenant] FOREIGN KEY([TenantId])
REFERENCES [security].[Tenant] ([Id])
GO
ALTER TABLE [digi].[WorkItemType001Patient] CHECK CONSTRAINT [FK_WorkItemType001Patient_Tenant]
GO
ALTER TABLE [digi].[WorkItemType001Patient]  WITH CHECK ADD  CONSTRAINT [FK_WorkItemType001Patient_WorkItemType001] FOREIGN KEY([WorkItemType001Id])
REFERENCES [digi].[WorkItemType001] ([ WorkItemType001Id])
GO
ALTER TABLE [digi].[WorkItemType001Patient] CHECK CONSTRAINT [FK_WorkItemType001Patient_WorkItemType001]
GO
ALTER TABLE [digi].[WorkItemType001Treatment]  WITH CHECK ADD  CONSTRAINT [FK_WorkItemType001Treatment_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [security].[User] ([Id])
GO
ALTER TABLE [digi].[WorkItemType001Treatment] CHECK CONSTRAINT [FK_WorkItemType001Treatment_CreatedBy]
GO
ALTER TABLE [digi].[WorkItemType001Treatment]  WITH CHECK ADD  CONSTRAINT [FK_WorkItemType001Treatment_Tenant] FOREIGN KEY([TenantId])
REFERENCES [security].[Tenant] ([Id])
GO
ALTER TABLE [digi].[WorkItemType001Treatment] CHECK CONSTRAINT [FK_WorkItemType001Treatment_Tenant]
GO
ALTER TABLE [digi].[WorkItemType001Treatment]  WITH CHECK ADD  CONSTRAINT [FK_WorkItemType001Treatment_Treatment] FOREIGN KEY([TreatmentId])
REFERENCES [digi].[Treatment] ([ TreatmentId])
GO
ALTER TABLE [digi].[WorkItemType001Treatment] CHECK CONSTRAINT [FK_WorkItemType001Treatment_Treatment]
GO
ALTER TABLE [digi].[WorkItemType001Treatment]  WITH CHECK ADD  CONSTRAINT [FK_WorkItemType001Treatment_WorkItemType001] FOREIGN KEY([WorkItemType001Id])
REFERENCES [digi].[WorkItemType001] ([ WorkItemType001Id])
GO
ALTER TABLE [digi].[WorkItemType001Treatment] CHECK CONSTRAINT [FK_WorkItemType001Treatment_WorkItemType001]
GO
ALTER TABLE [digi].[WorkItemType001Treatment]  WITH CHECK ADD  CONSTRAINT [FK_WorkItemType001Treatmentt_ModifiedBy] FOREIGN KEY([ModifiedBy])
REFERENCES [security].[User] ([Id])
GO
ALTER TABLE [digi].[WorkItemType001Treatment] CHECK CONSTRAINT [FK_WorkItemType001Treatmentt_ModifiedBy]
GO
ALTER TABLE [digi].[WorkItemType001TreatmentType]  WITH CHECK ADD  CONSTRAINT [FK_WorkItemType001TreatmentType_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [security].[User] ([Id])
GO
ALTER TABLE [digi].[WorkItemType001TreatmentType] CHECK CONSTRAINT [FK_WorkItemType001TreatmentType_CreatedBy]
GO
ALTER TABLE [digi].[WorkItemType001TreatmentType]  WITH CHECK ADD  CONSTRAINT [FK_WorkItemType001TreatmentType_ModifiedBy] FOREIGN KEY([ModifiedBy])
REFERENCES [security].[User] ([Id])
GO
ALTER TABLE [digi].[WorkItemType001TreatmentType] CHECK CONSTRAINT [FK_WorkItemType001TreatmentType_ModifiedBy]
GO
ALTER TABLE [digi].[WorkItemType001TreatmentType]  WITH CHECK ADD  CONSTRAINT [FK_WorkItemType001TreatmentType_Tenant] FOREIGN KEY([TenantId])
REFERENCES [security].[Tenant] ([Id])
GO
ALTER TABLE [digi].[WorkItemType001TreatmentType] CHECK CONSTRAINT [FK_WorkItemType001TreatmentType_Tenant]
GO
ALTER TABLE [digi].[WorkItemType001TreatmentType]  WITH CHECK ADD  CONSTRAINT [FK_WorkItemType001TreatmentType_TreatmentType] FOREIGN KEY([TreatmentTypeId])
REFERENCES [digi].[TreatmentType] ([ TreatmentTypeId])
GO
ALTER TABLE [digi].[WorkItemType001TreatmentType] CHECK CONSTRAINT [FK_WorkItemType001TreatmentType_TreatmentType]
GO
ALTER TABLE [digi].[WorkItemType001TreatmentType]  WITH CHECK ADD  CONSTRAINT [FK_WorkItemType001TreatmentType_WorkItemType001] FOREIGN KEY([WorkItemType001Id])
REFERENCES [digi].[WorkItemType001] ([ WorkItemType001Id])
GO
ALTER TABLE [digi].[WorkItemType001TreatmentType] CHECK CONSTRAINT [FK_WorkItemType001TreatmentType_WorkItemType001]
GO
